Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix --file, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["next lint --fix --file", "prettier --write"],
  "**/*.{md,mdx,json}": ["prettier --write"],
  "**/*.css": ["prettier --write"]
}

feat: add dynamic pagination to notes list
  components/content/all-notes.tsx
Due: next lint --fix --file, prettier --write

feat: add dynamic pagination to notes list (#132)
  components/content/all-notes.tsx
Due: next lint --fix --file, prettier --write

feat: add post about redbeat configuration fix
  content/notes/making-redbeat-work-with-redis-sentinel-username-auth.mdx
Due: prettier --write

chore: remove categorization
  .lintstagedrc
Due: none

feat: add post about redbeat configuration fix (#133)
  .lintstagedrc
  content/notes/making-redbeat-work-with-redis-sentinel-username-auth.mdx
Due: prettier --write

chore: post on Rishikesh Trip
  content/notes/rishikesh-mussoorie.mdx
Due: prettier --write

feat: add language indicator and copy button to code blocks
  components/content/code-block.tsx
  components/content/mdx.tsx
  styles/mdx.css
Due: next lint --fix --file, prettier --write

chore: fix language indicators
  content/notes/custom-arch-linux-setup-with-openbox.mdx
  content/notes/develop-a-theme-for-hugo.mdx
  content/notes/my-own-configuration-manager.mdx
  content/notes/proxy-your-requests-to-the-backend-server-with-grunt.mdx
  content/notes/setting-up-alm-octane-with-docker-compose.mdx
  content/notes/setting-up-hugo-automatic-deployment-to-github-with-wercker.mdx
  content/notes/setting-up-modsecurity-on-ubuntu.mdx
  content/notes/setting-up-python-development-environments.mdx
  content/notes/setting-up-ssh-agent-in-i3.mdx
  content/notes/syncing-time-on-windows-gnu-linux-dual-boot-setups.mdx
  content/notes/wanna-get-insulted-by-sudo.mdx
Due: prettier --write

chore: fix icon imports
  components/content/code-block.tsx
Due: next lint --fix --file, prettier --write

Feat: add language indicator and copy button in code blocks (#134)
  components/content/code-block.tsx
  components/content/mdx.tsx
  content/notes/custom-arch-linux-setup-with-openbox.mdx
  content/notes/develop-a-theme-for-hugo.mdx
  content/notes/my-own-configuration-manager.mdx
  content/notes/proxy-your-requests-to-the-backend-server-with-grunt.mdx
  content/notes/setting-up-alm-octane-with-docker-compose.mdx
  content/notes/setting-up-hugo-automatic-deployment-to-github-with-wercker.mdx
  content/notes/setting-up-modsecurity-on-ubuntu.mdx
  content/notes/setting-up-python-development-environments.mdx
  content/notes/setting-up-ssh-agent-in-i3.mdx
  content/notes/syncing-time-on-windows-gnu-linux-dual-boot-setups.mdx
  content/notes/wanna-get-insulted-by-sudo.mdx
  styles/mdx.css
Due: next lint --fix --file, prettier --write

chore: fix cisco experience year
  app/(pages)/work/page.tsx
Due: next lint --fix --file, prettier --write

perf: optimize fonts, analytics, and lazy load components
  app/layout.tsx
  app/notes/[slug]/page.tsx
  components/interactive/analytics.tsx
Due: next lint --fix --file, prettier --write

perf: replace moment.js with date-fns for smaller bundle
  .claude/settings.local.json
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  bun.lock
  components/content/note-preview.tsx
  components/layout/navigation.tsx
  components/ui/clock/clock.tsx
  package.json
Due: next lint --fix --file, prettier --write

perf: reduce client bundle size by replacing heavy dependencies
  app/layout.tsx
  bun.lock
  components/interactive/mode-toggle.tsx
  components/interactive/newsletter.tsx
  components/layout/navigation.tsx
  components/ui/clock/clock.tsx
  hooks/use-toast-message.tsx
  package.json
Due: next lint --fix --file, prettier --write

chore: remove unused UI component files after bundle optimization
  bun.lock
  components/ui/avatar.tsx
  components/ui/toast.tsx
  components/ui/tooltip.tsx
  package.json
Due: next lint --fix --file, prettier --write

chore: rebuild sharp with npm
  package.json
Due: prettier --write

chore: disable multiple analytics
  components/interactive/analytics.tsx
Due: next lint --fix --file, prettier --write

chore: restore original code
  .claude/settings.local.json
  bun.lock
  components/interactive/mode-toggle.tsx
  components/layout/navigation.tsx
  components/ui/avatar.tsx
  components/ui/clock/clock.tsx
  components/ui/random-photo.tsx
  components/ui/tooltip.tsx
  package.json
  scripts/update-image-refs.ts
Due: next lint --fix --file, prettier --write

refactor: replace pagination with progressive loading and simplify architecture
  .claude/settings.local.json
  app/categories/[category]/page.tsx
  app/categories/page.tsx
  app/notes/[slug]/page.tsx
  app/notes/page.tsx
  app/tags/[tag]/page.tsx
  app/tags/page.tsx
  bun.lock
  components/content/all-notes.tsx
  components/content/category-browser.tsx
  components/content/tag-browser.tsx
  components/ui/note-skeleton.tsx
  docs/removed-giscus-implementation.md
  lib/content.ts
  lib/taxonomy.ts
  package.json
  types/index.d.ts
Due: next lint --fix --file, prettier --write

chore: optimize avatar file size
  .claude/settings.local.json
  .nvmrc
  components/layout/navigation.tsx
  docs/removed-giscus-implementation.md
  public/images/yash/yash-avatar.webp
Due: next lint --fix --file, prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#138)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: smooth animation for mobile actions
  components/content/mobile-actions.tsx
Due: next lint --fix --file, prettier --write

fix: mobile toc navigation and drawer behavior
  components/content/mobile-toc.tsx
  components/content/table-of-contents.tsx
Due: next lint --fix --file, prettier --write

feat: new mobile floating action bar
  app/(blog)/notes/[slug]/page.tsx
  components/content/mobile-actions.tsx
  components/content/mobile-toc.tsx
  hooks/use-scroll-direction.ts
Due: next lint --fix --file, prettier --write

fix: import RefObject type from react
  bun.lock
  components/content/mobile-actions.tsx
  hooks/use-on-click-outside.ts
  package.json
Due: next lint --fix --file, prettier --write

fix: add Drawer.Description for mobile TOC accessibility
  components/content/mobile-toc.tsx
  components/content/table-of-contents.tsx
Due: next lint --fix --file, prettier --write

fix: ui layout and styling issues
  .claude/settings.local.json
  app/(blog)/layout.tsx
  app/(blog)/notes/[slug]/page.tsx
  app/(default)/(pages)/colophon/page.tsx
  app/(default)/(pages)/lifelog/page.tsx
  app/(default)/(pages)/work/page.tsx
  app/(default)/categories/[category]/page.tsx
  app/(default)/categories/page.tsx
  app/(default)/error.tsx
  app/(default)/layout.tsx
  app/(default)/not-found.tsx
  app/(default)/notes/page.tsx
  app/(default)/page.tsx
  app/(default)/tags/[tag]/page.tsx
  app/(default)/tags/page.tsx
  app/notes/[slug]/page.tsx
  bun.lock
  components/content/footnote-mover.tsx
  components/content/mobile-footnotes.tsx
  components/content/mobile-toc.tsx
  components/content/table-of-contents.tsx
  docs/removed-giscus-implementation.md
  package.json
  styles/globals.css
Due: next lint --fix --file, prettier --write

feat: implement click outside to close mobile actions menu
  components/content/mobile-actions.tsx
  hooks/use-on-click-outside.ts
Due: next lint --fix --file, prettier --write

fix: mobile action bar auto-collapse logic
  components/content/mobile-actions.tsx
Due: next lint --fix --file, prettier --write

fix: smooth mobile action bar animation
  components/content/mobile-actions.tsx
Due: next lint --fix --file, prettier --write

chore: restore globals.css
  .claude/settings.local.json
  .gitignore
  app/(blog)/notes/[slug]/page.tsx
  app/(default)/layout.tsx
  components/content/footnote-mover.tsx
  components/content/mobile-footnotes.tsx
  docs/removed-giscus-implementation.md
  styles/globals.css
  styles/mdx.css
Due: next lint --fix --file, prettier --write

chore: fix padding on blog page
  app/(blog)/notes/[slug]/page.tsx
  components/layout/navigation.tsx
Due: next lint --fix --file, prettier --write

chore: fix scrolling
  app/(blog)/notes/[slug]/page.tsx
  components/content/mobile-toc.tsx
  components/content/table-of-contents.tsx
  hooks/use-active-item.ts
  styles/mdx.css
Due: next lint --fix --file, prettier --write
