Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run typecheck'

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "bash -c 'bun run typecheck'"
  ],
  "**/*.{md,mdx,json}": ["prettier --write"],
  "**/*.css": ["prettier --write"]
}

fix: load correct font weights to restore boldness
  src/layouts/BaseLayout.astro
Due: none

chore: switch Newsreader to variable font
  package-lock.json
  package.json
  src/layouts/BaseLayout.astro
Due: prettier --write

fix: update Newsreader font family name
  bun.lock
  src/layouts/BaseLayout.astro
Due: none

chore: highlight active heading in mobile toc
  src/components/content/MobileTOC.astro
Due: none

chore: improve padding before footer
  src/layouts/BlogLayout.astro
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
  src/pages/notes/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: none

style: fix external link icon wrapping
  src/components/ui/Link.astro
Due: none

style: reduce gap between image and caption
  src/components/ui/Image.astro
Due: none

feat: port missing MDX components to Astro
  src/components/content/MDXAccordion.astro
  src/components/content/MDXDraft.astro
  src/components/content/MDXHighlight.astro
  src/components/content/MDXKbd.astro
  src/components/content/MDXTooltip.astro
  src/pages/notes/[slug].astro
Due: none

chore: add test page for MDX components
  src/content/notes/test-mdx-components.mdx
Due: prettier --write

fix: resolve MobileTOC syntax errors and refine MDXKbd styling
  bun.lock
  package-lock.json
  package.json
  src/components/content/MDXAccordion.astro
  src/components/content/MDXDraft.astro
  src/components/content/MDXKbd.astro
  src/components/content/MobileTOC.astro
  src/components/content/SocialLinks.astro
  src/components/interactive/ThemeToggle.astro
  src/components/ui/Heading.astro
  src/content/notes/test-mdx-components.mdx
  src/layouts/BaseLayout.astro
  src/lib/utils.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: ensure MDXKbd component uses not-prose to avoid style conflicts
  src/components/content/MDXKbd.astro
Due: none

style: apply custom Kbd styles to standard kbd elements in prose
  src/styles/mdx.css
Due: prettier --write

refactor: simplify Kbd styling via CSS and remove Draft component
  src/components/content/MDXDraft.astro
  src/components/content/MDXKbd.astro
  src/content/notes/test-mdx-components.mdx
  src/pages/notes/[slug].astro
Due: prettier --write

refactor: simplify Kbd styling via CSS and remove Draft component
  .claude/settings.local.json
  package-lock.json
  src/content/notes/test-mdx-components.mdx
Due: prettier --write

chore: setup developer tooling (eslint, prettier, husky)
  .claude/settings.local.json
  astro.config.mjs
  bun.lock
  eslint.config.mjs
  package.json
Due: prettier --write

feat: migrate scripts for note creation and image optimization
  bun.lock
  package.json
Due: prettier --write

feat: enable math (KaTeX) and diagrams (Mermaid) support
  astro.config.mjs
Due: none

fix(config): run rehype-mermaid before syntax highlighting
  astro.config.mjs
Due: none

chore: add postinstall script for playwright
  package.json
Due: prettier --write

feat: add security headers configuration for cloudflare pages
  public/_headers
Due: none

fix: restore cache-control headers and merge with security headers
  public/_headers
Due: none

feat: add redirects for legacy urls
  public/_redirects
Due: none

chore: format fix
  README.md
  TASKS.md
  astro.config.mjs
  eslint.config.mjs
  radiant-giggling-meerkat.md
  src/config/site.ts
  src/content/config.ts
  src/pages/robots.txt.ts
  src/pages/rss.xml.ts
  tsconfig.json
  wrangler.json
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: use astro-mermaid for client-side diagrams
  astro.config.mjs
  bun.lock
  package.json
Due: prettier --write

fix(config): move plugins to markdown config to support auto-injection
  astro.config.mjs
Due: none

chore: update astro-mermaid dark mode handling
  astro.config.mjs
  src/components/interactive/ThemeToggle.astro
  src/layouts/BaseLayout.astro
Due: none

chore: update astro-mermaid dark mode handling
  astro.config.mjs
  bun.lock
  package.json
Due: prettier --write

chore: add netlify config
  astro.config.mjs
  bun.lock
  netlify.toml
  package.json
Due: prettier --write

chore: trying to fix browser api error
  chrome-dependencies.txt
Due: none

chore: fix mermaid styling, remove cloudflare
  astro.config.mjs
  bun.lock
  package.json
  src/styles/mdx.css
  wrangler.json
Due: prettier --write

chore: fix build
  astro.config.mjs
  bun.lock
  package.json
Due: prettier --write

chore: vercel configuration
  astro.config.mjs
  netlify.toml
  vercel.json
Due: prettier --write

chore: build fix
  vercel.json
Due: prettier --write

chore: enable rss feed
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: none

enable rss feed (#154)
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: none

feat: setup PWA app
  .claude/settings.local.json
  .gitignore
  astro.config.mjs
  bun.lock
  package.json
  public/apple-icon.png
  public/favicon.ico
  public/icon.svg
  public/icons/pwa-192x192.png
  public/icons/pwa-512x512.png
  src/layouts/BaseLayout.astro
  src/pwa.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: implement static OG image generation with dynamic font sizing
  astro.config.mjs
  bun.lock
  package.json
  public/images/og.png
  src/pages/notes/[slug].astro
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'
