Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix(pwa): optimize PWA config for Android installability and caching
  astro.config.mjs
Due: none

chore: fix tooltip overflow on mobile screens
  src/components/ui/AnalogClock.astro
Due: none

perf: optimize OG image generation
  public/.assetsignore
  public/images/og.png
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: resolve PWA install button not showing on Android Chrome
  astro.config.mjs
  src/layouts/BaseLayout.astro
Due: none

feat: add 404 page and fix workbox precaching error
  astro.config.mjs
  src/pages/404.astro
Due: none

fix: disable Astro dev toolbar to prevent audit fetch errors
  astro.config.mjs
Due: none

refactor: create shared OG image generation utility
  src/lib/og-image.ts
  src/pages/og-image.png.ts
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: improve PWA manifest for mobile Chrome install button
  astro.config.mjs
Due: none

feat: setup OG image and PWA app (#155)
  .claude/settings.local.json
  .gitignore
  astro.config.mjs
  bun.lock
  package.json
  public/.assetsignore
  public/apple-icon.png
  public/favicon.ico
  public/icon.svg
  public/icons/pwa-192x192.png
  public/icons/pwa-512x512.png
  public/images/og.png
  src/components/ui/AnalogClock.astro
  src/layouts/BaseLayout.astro
  src/lib/og-image.ts
  src/pages/404.astro
  src/pages/notes/[slug].astro
  src/pages/og-image.png.ts
  src/pages/og/[...slug].png.ts
  src/pwa.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add reading progress bar to blog articles
  src/components/content/ReadingProgress.astro
  src/layouts/BlogLayout.astro
Due: none

feat: add Cloudflare Web Analytics
  src/layouts/BaseLayout.astro
Due: none

feat: improve notes search with multi-field matching
  src/components/content/NotePreview.astro
  src/components/ui/Section.astro
  src/pages/notes/index.astro
Due: none

fix: improve code block copy UX and asset caching
  .gitignore
  src/components/interactive/CodeBlock.astro
  vercel.json
Due: prettier --write

chore: fix CLS due to font loading
  src/layouts/BaseLayout.astro
  src/styles/globals.css
Due: prettier --write

chore: preconnect to cloudflare analytics
  src/layouts/BaseLayout.astro
Due: none

Update cache policies (#156)
  .gitignore
  src/components/content/NotePreview.astro
  src/components/interactive/CodeBlock.astro
  src/components/ui/Section.astro
  src/layouts/BaseLayout.astro
  src/pages/notes/index.astro
  src/styles/globals.css
  vercel.json
Due: prettier --write

fix: conditionally load cloudflare analytics only on production domain
  src/layouts/BaseLayout.astro
Due: none

fix: exclude og-image.png from pwa precache to avoid 404 error
  astro.config.mjs
Due: none

fix: exclude 404 page from pwa precache to avoid bad-precaching-response error
  astro.config.mjs
Due: none

fix(seo): add og:site_name and improve og tags for whatsapp/discord previews
  src/layouts/BaseLayout.astro
Due: none

Fix console logs (#157)
  astro.config.mjs
  src/layouts/BaseLayout.astro
Due: none

chore: font loading fixes
  src/layouts/BaseLayout.astro
  src/styles/fonts.css
Due: prettier --write

font loading fixes (#153)
  src/layouts/BaseLayout.astro
  src/styles/fonts.css
Due: prettier --write

feat: add header image support for blog posts
  public/images/headers/redbeat-redis-sentinel-header.png
  src/components/ui/Image.astro
  src/content/notes/making-redbeat-work-with-redis-sentinel-username-auth.mdx
  src/layouts/BlogLayout.astro
  src/pages/notes/[slug].astro
Due: prettier --write

update image
  public/images/headers/redbeat-redis-sentinel-header.png
Due: none

minor changes
  src/layouts/BlogLayout.astro
Due: none

feat: add header image support for blog posts (#158)
  public/images/headers/redbeat-redis-sentinel-header.png
  src/components/ui/Image.astro
  src/content/notes/making-redbeat-work-with-redis-sentinel-username-auth.mdx
  src/layouts/BlogLayout.astro
  src/pages/notes/[slug].astro
Due: prettier --write

Post on Flask Monkey Patching
  .gitignore
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/emailservice-api-request-rate.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/flask-pod-memory-pattern.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/my-bug-of-the-year-and-how-i-fixed-it-header.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/notification-service-http-latency.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/notification-service-request-throughput.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/request-processing-without-monkey-patching.webp
  src/components/content/MDXHighlight.astro
  src/content/notes/my-bug-of-the-year-and-how-i-fixed-it.mdx
Due: prettier --write

more changes
  public/images/headers/redbeat-redis-sentinel-header.png
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/my-bug-of-the-year-and-how-i-fixed-it-header.webp
  src/content/notes/making-redbeat-work-with-redis-sentinel-username-auth.mdx
Due: prettier --write

add highlights
  src/content/notes/my-bug-of-the-year-and-how-i-fixed-it.mdx
Due: prettier --write

fix tooltip overflow
  astro.config.mjs
  bun.lock
  package.json
  src/alpine-plugins.ts
  src/components/content/MDXTooltip.astro
  src/components/ui/AnalogClock.astro
  src/content/notes/my-bug-of-the-year-and-how-i-fixed-it.mdx
  src/layouts/BaseLayout.astro
  src/styles/tooltip.css
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix english
  src/content/notes/my-bug-of-the-year-and-how-i-fixed-it.mdx
Due: prettier --write

Post on Flask Gevent Fix with Monkey Patching (#159)
  .gitignore
  astro.config.mjs
  bun.lock
  package.json
  public/images/headers/redbeat-redis-sentinel-header.png
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/emailservice-api-request-rate.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/flask-pod-memory-pattern.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/my-bug-of-the-year-and-how-i-fixed-it-header.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/notification-service-http-latency.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/notification-service-request-throughput.webp
  public/images/notes/my-bug-of-the-year-and-how-i-fixed-it/request-processing-without-monkey-patching.webp
  src/alpine-plugins.ts
  src/components/content/MDXHighlight.astro
  src/components/content/MDXTooltip.astro
  src/components/ui/AnalogClock.astro
  src/content/notes/making-redbeat-work-with-redis-sentinel-username-auth.mdx
  src/content/notes/my-bug-of-the-year-and-how-i-fixed-it.mdx
  src/layouts/BaseLayout.astro
  src/styles/tooltip.css
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

refactor: migrate layout to CSS Grid and centralized Main component
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/404.astro
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
  src/pages/index.astro
  src/pages/notes/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/pages/work.astro
Due: none

feat: implement sidenotes with responsive layout and global counters
  src/components/content/Sidenote.astro
  src/layouts/BlogLayout.astro
  src/pages/notes/[slug].astro
  src/styles/globals.css
Due: prettier --write

chore: add "back to top" in TOC section
  src/layouts/BlogLayout.astro
Due: none

fix headings
  src/content/notes/my-bug-of-the-year-and-how-i-fixed-it.mdx
Due: prettier --write

test article; will remove
  src/content/notes/sidenote-test.mdx
Due: prettier --write

fix: force PWA to cleanup outdated caches to resolve duplicate nav issue
  astro.config.mjs
Due: none

feat: install and register @alpinejs/collapse plugin
  bun.lock
  package.json
  src/alpine-plugins.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,json})) or (any of: **/*.css)
  bash -c 'bun run typecheck': any of: **/*.{ts,tsx,js,jsx}
