Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

.lintstagedrc:

{
  "**/*.{tsx, ts, js, jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,mdx}": ["node ./scripts/update-frontmatter.ts", "prettier --write"]
}

chore: add url to disqus config (#76)
  app/notes/[slug]/page.tsx
  components/comments.tsx
Due: eslint --fix, prettier --write

chore: fix search
  components/all-notes.tsx
Due: eslint --fix, prettier --write

chore: fix search (#77)
  components/all-notes.tsx
Due: eslint --fix, prettier --write

chore: upgrade node
  .nvmrc
Due: none

chore: more tasks
  app/og/route.tsx
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: more tasks
  app/layout.tsx
Due: eslint --fix, prettier --write

chore: enforce tailwind shorthands
  app/(pages)/lifelog/page.tsx
  app/page.tsx
  components/footer.tsx
  components/mode-toggle.tsx
  components/series.tsx
  components/ui/clock/clock.tsx
  components/ui/draft.tsx
  components/ui/link.tsx
  components/ui/tailwind-indicator.tsx
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  yarn.lock
Due: none

chore: some vscode setting
  .vscode/settings.json
Due: none

chore: update packages 1
  package.json
  yarn.lock
Due: none

chore: update packages 2
  package.json
  yarn.lock
Due: none

chore: update packages 3
  package.json
  yarn.lock
Due: none

chore: revert remark, rehype and shiki upgrade
  package.json
  yarn.lock
Due: none

chore: remove eslint-plugin-jsx-a11y
  package.json
  yarn.lock
Due: none

Feature: upgrade to NextJS 14 (#79)
  .nvmrc
  .vscode/settings.json
  app/(pages)/lifelog/page.tsx
  app/layout.tsx
  app/og/route.tsx
  app/page.tsx
  components/footer.tsx
  components/mode-toggle.tsx
  components/series.tsx
  components/ui/clock/clock.tsx
  components/ui/draft.tsx
  components/ui/link.tsx
  components/ui/tailwind-indicator.tsx
  next.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add work page
  app/whoami/page.tsx
  app/work/page.tsx
  components/ui/navigation.tsx
Due: eslint --fix, prettier --write

chore: update footer design
  app/layout.tsx
  app/notes/page.tsx
  app/page.tsx
  components/footer.tsx
  components/mode-toggle.tsx
  components/note-preview.tsx
  components/recent-notes.tsx
  components/search.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/ui/accordion.tsx
  components/ui/draft.tsx
  components/ui/link.tsx
  components/ui/navigation.tsx
  config/site.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: try to fix dark mode toggle logic
  components/mode-toggle.tsx
Due: eslint --fix, prettier --write

chore: minor changes
  app/page.tsx
  components/footer.tsx
  components/recent-notes.tsx
  components/ui/section-title.tsx
Due: eslint --fix, prettier --write

chore: remove unwanted scrollbar
  app/layout.tsx
  components/ui/navigation.tsx
  components/ui/section-title.tsx
Due: eslint --fix, prettier --write

chore: add support for showing description
  app/page.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
Due: eslint --fix, prettier --write

chore: add default value for showDescription
  components/notes-list.tsx
Due: eslint --fix, prettier --write

chore: fix build failure
  components/notes-list.tsx
Due: eslint --fix, prettier --write

chore: use cols for note listing
  app/notes/[slug]/page.tsx
  components/note-preview.tsx
Due: eslint --fix, prettier --write

chore: fix footer
  components/footer.tsx
  components/note-preview.tsx
Due: eslint --fix, prettier --write

chore: change some elements on article page
  app/notes/[slug]/page.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/tag-list.tsx
  components/ui/section-title.tsx
Due: eslint --fix, prettier --write

chore: fix padding
  components/ui/section-title.tsx
Due: eslint --fix, prettier --write

chore: minor change
  components/footer.tsx
Due: eslint --fix, prettier --write

Simplifying blog design (#80)
  app/layout.tsx
  app/notes/[slug]/page.tsx
  app/notes/page.tsx
  app/page.tsx
  app/whoami/page.tsx
  app/work/page.tsx
  components/footer.tsx
  components/mode-toggle.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  components/search.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/tag-list.tsx
  components/ui/accordion.tsx
  components/ui/draft.tsx
  components/ui/link.tsx
  components/ui/navigation.tsx
  components/ui/section-title.tsx
  config/site.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add post about homelab
  content/notes/homelab-experiment-begins.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: fix unique key prop warning
  app/(pages)/lifelog/page.tsx
  components/backlinks.tsx
  components/tag-list.tsx
Due: eslint --fix, prettier --write

chore: more changes
  content/notes/homelab-experiment-begins.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: added more content
  content/notes/homelab-experiment-begins.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: editing
  app/notes/[slug]/page.tsx
  content/notes/homelab-experiment-begins.mdx
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

chore: editing
  content/notes/homelab-experiment-begins.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

Writing: first post in homelab series (#78)
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  components/backlinks.tsx
  components/tag-list.tsx
  content/notes/homelab-experiment-begins.mdx
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

chore: use turbo mode
  package.json
Due: none

chore: use turbo mode (#81)
  package.json
Due: none

chore: update work history
  app/work/page.tsx
Due: eslint --fix, prettier --write
