Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run typecheck'

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "bash -c 'bun run typecheck'"
  ],
  "**/*.{md,mdx,json}": ["prettier --write"],
  "**/*.css": ["prettier --write"]
}

feat: add scratch notes section for quick AI-assisted notes (#173)
  scripts/create-scratch-note.ts
  src/components/layout/Footer.astro
  src/content/config.ts
  src/lib/scratch-content.ts
  src/pages/scratch/[slug].astro
  src/pages/scratch/index.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: update listmonk subscription forms with altcha captcha
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
Due: none

fix: style altcha widget as borderless text, hide branding
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
Due: none

fix: tighter altcha widget spacing
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
Due: none

fix: reorder captcha before subscribe on mobile, hide footer form on newsletter page
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
Due: none

fix: proxy altcha API through vercel rewrites to avoid CORS
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
  vercel.json
Due: prettier --write

fix: ajax form submit with altcha payload, loading state on button
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
Due: none

fix: use iframe posting for form submit, avoid CORS
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
  vercel.json
Due: prettier --write

fix: reset iframe before each submit so load event fires every time
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
Due: none

fix: switch back to ajax with FormData, drop iframe approach
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
Due: none

fix: proxy to listmonk API endpoint, show already-subscribed message
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
  vercel.json
Due: prettier --write

fix: strip nonce and website from ajax form data
  src/components/layout/Footer.astro
  src/pages/newsletter/index.astro
Due: none

feat: move newsletter form to /newsletter page, add post-footer prompt, clean footer
  src/components/layout/Footer.astro
  src/layouts/BlogLayout.astro
  src/pages/newsletter/index.astro
Due: none

feat: add create-listmonk-campaign skill with bundled script
  .agents/skills/create-listmonk-campaign/.env.example
  .agents/skills/create-listmonk-campaign/SKILL.md
  .agents/skills/create-listmonk-campaign/evals/evals.json
  .agents/skills/create-listmonk-campaign/scripts/create-campaign.sh
Due: prettier --write

feat: listmonk newsletter integration — forms, captcha, skill, and site cleanup (#174)
  .agents/skills/create-listmonk-campaign/.env.example
  .agents/skills/create-listmonk-campaign/SKILL.md
  .agents/skills/create-listmonk-campaign/evals/evals.json
  .agents/skills/create-listmonk-campaign/scripts/create-campaign.sh
  src/components/layout/Footer.astro
  src/layouts/BlogLayout.astro
  src/pages/newsletter/index.astro
  vercel.json
Due: prettier --write

refactor: remove like button and dead mobile actions component
  src/alpine-plugins.ts
  src/components/content/LikeButton.astro
  src/components/content/MobileActions.astro
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

refactor: remove view counter component
  src/alpine-plugins.ts
  src/components/content/ViewCount.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

refactor: replace Disqus comments with reply-via-email link
  src/layouts/BlogLayout.astro
Due: none

feat: mention newsletter on frontpage
  src/pages/index.astro
Due: none

fix: prevent layout shift when altcha widget loads
  src/pages/newsletter/index.astro
Due: none

Remove like button, view counter, and Disqus; add newsletter mention and altcha fix (#175)
  src/alpine-plugins.ts
  src/components/content/LikeButton.astro
  src/components/content/MobileActions.astro
  src/components/content/ViewCount.astro
  src/layouts/BlogLayout.astro
  src/pages/index.astro
  src/pages/newsletter/index.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add cmd+k search modal powered by Pagefind
  src/components/interactive/SearchModal.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: none

fix: add search icon in nav, cache Pagefind instance, tweak modal layout
  src/components/interactive/SearchModal.astro
  src/components/layout/Navigation.astro
Due: none

fix: preload Pagefind on page load, graceful fallback when unavailable
  src/components/interactive/SearchModal.astro
Due: none

fix: move keyboard nav to window listener so it works when input is focused
  src/components/interactive/SearchModal.astro
Due: none

fix: remove focus ring from search input
  src/components/interactive/SearchModal.astro
Due: none

fix: make selected search result background more visible
  src/components/interactive/SearchModal.astro
Due: none

refactor: remove Now link from nav bar
  src/components/layout/Navigation.astro
Due: none

refactor: remove back to notes link from blog posts
  src/layouts/BlogLayout.astro
Due: none

refactor: rewrite reply-via-email text in plain style
  src/layouts/BlogLayout.astro
Due: none

fix: remove bottom border from search bar
  src/components/interactive/SearchModal.astro
Due: none

fix: remove input focus ring on mobile devices
  src/components/interactive/SearchModal.astro
Due: none

Add cmd+k search modal with Pagefind (#176)
  src/components/interactive/SearchModal.astro
  src/components/layout/Navigation.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: none

refactor: update SEO metadata across all pages using plain writing
  src/config/site.ts
  src/pages/about.astro
  src/pages/books.astro
  src/pages/categories/index.astro
  src/pages/index.astro
  src/pages/newsletter/index.astro
  src/pages/notes/index.astro
  src/pages/now.astro
  src/pages/scratch/index.astro
  src/pages/tags/index.astro
  src/pages/work.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

refactor: simplify books description
  src/pages/books.astro
Due: none

refactor: add Now back to nav bar after Notes
  src/components/layout/Navigation.astro
Due: none

feat: include full content in RSS feed
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: render full MDX content in RSS using Astro Container API
  src/lib/rss-content.ts
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

chore: pin node to v24 via mise
  mise.toml
Due: none

Update SEO metadata across all pages (#177)
  mise.toml
  src/components/layout/Navigation.astro
  src/config/site.ts
  src/lib/rss-content.ts
  src/pages/about.astro
  src/pages/books.astro
  src/pages/categories/index.astro
  src/pages/index.astro
  src/pages/newsletter/index.astro
  src/pages/notes/index.astro
  src/pages/now.astro
  src/pages/rss.xml.ts
  src/pages/scratch/index.astro
  src/pages/tags/index.astro
  src/pages/work.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'
