Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

.lintstagedrc:

{
  "**/*.{tsx, ts, js, jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,mdx}": ["node ./scripts/update-frontmatter.ts", "prettier --write"]
}

feat: (not-working) implement automatic note categorization in pre-commit hook
  .lintstagedrc
  package.json
  scripts/categorize-notes.ts
  scripts/categorize.sh
  scripts/pre-commit-categorize.sh
Due: none

feat: add single batch and single file options for note categorization
  scripts/categorize-notes.ts
  scripts/categorize.sh
Due: none

feat: update category assignment logic in notes collection
  content-collections.ts
Due: none

feat: implement note categorization script
  .lintstagedrc
  bun.lock
  package.json
  scripts/README.md
  scripts/categorize-notes.ts
  scripts/categorize.sh
  scripts/update-frontmatter.ts
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: update category from 'Web Development' to 'Development' across multiple notes
  content/notes/add-reading-time-to-blog-articles.mdx
  content/notes/automatic-https-certs-using-godaddy-and-gitlab-apis.mdx
  content/notes/contentlayer-to-content-collections.mdx
  content/notes/develop-a-theme-for-hugo.mdx
  content/notes/go-grpc-opa-a-perfect-union-part-1.mdx
  content/notes/go-grpc-opa-a-perfect-union-part-2.mdx
  content/notes/go-grpc-opa-a-perfect-union-part-3.mdx
  content/notes/how-i-built-a-blog-with-nextjs.mdx
  content/notes/image-component-in-nextjs.mdx
  content/notes/integrating-contentlayer-with-nextjs-blog.mdx
  content/notes/my-new-domain.mdx
  content/notes/proxy-your-requests-to-the-backend-server-with-grunt.mdx
  content/notes/rss-feeds-in-nextjs-blog.mdx
  content/notes/setting-up-disqus-in-nextjs-blog.mdx
  content/notes/setting-up-hugo-automatic-deployment-to-github-with-wercker.mdx
  content/notes/setting-up-modsecurity-on-ubuntu.mdx
  content/notes/setting-up-python-development-environments.mdx
  content/notes/the-good-and-bad-about-csed-of-nit-c.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

feat: convert createdOn date from UTC to IST in note categorization
  scripts/categorize-notes.ts
Due: none

feat: add description field to note categorization and processing
  scripts/categorize-notes.ts
Due: none

feat: refine description handling in note categorization and update configuration limits
  scripts/categorize-notes.ts
Due: none

feat: add animated grid background component and integrate into layout
  app/layout.tsx
  components/ui/animated-grid-background.tsx
  components/ui/social-links.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: add create-note script (LLM generated)
  .lintstagedrc
  content/notes/automatic-https-certs-using-godaddy-and-gitlab-apis.mdx
  package.json
  scripts/create-note.ts
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: reduce last visitor session timeout to 1 min
  components/interactive/last-visitor-client.tsx
Due: eslint --fix, prettier --write

chore: some changes which I don't remember
  .gitignore
  .lintstagedrc
  commitlint.config.js
  scripts/create-note.ts
Due: none

feat: less cluttered homepage
  app/layout.tsx
  app/page.tsx
  components/content/note-preview.tsx
  components/layout/footer.tsx
  config/site.ts
Due: eslint --fix, prettier --write

feat: redesign homepage
  app/page.tsx
  components/content/featured-notes.tsx
  components/content/note-preview.tsx
  components/content/notes-list.tsx
  components/layout/navigation.tsx
  components/ui/social-links.tsx
Due: eslint --fix, prettier --write

chore: more cleaning
  app/(pages)/colophon/page.tsx
  app/(pages)/work/page.tsx
  app/categories/page.tsx
  app/global-error.tsx
  app/layout.tsx
  app/notes/page.tsx
  app/page.tsx
  app/tags/page.tsx
  components/layout/animated-layout.tsx
  components/layout/footer.tsx
  components/layout/full-width-footer.tsx
Due: eslint --fix, prettier --write

feat: improve visual design and code block styling
  app/page.tsx
  components/content/featured-notes.tsx
  components/layout/footer.tsx
  styles/globals.css
  styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: update bio
  app/page.tsx
Due: eslint --fix, prettier --write

feat: redesign navbar and increase content width
  app/layout.tsx
  app/page.tsx
  bun.lock
  components/layout/footer.tsx
  components/layout/nav-menu.tsx
  components/layout/navigation.tsx
  components/ui/avatar.tsx
  components/ui/dropdown-menu.tsx
  package.json
Due: eslint --fix, prettier --write

chore: remove blue border
  components/layout/nav-menu.tsx
Due: eslint --fix, prettier --write

chore: increase footer padding
  components/layout/footer.tsx
Due: eslint --fix, prettier --write

chore: update avatar
  components/layout/navigation.tsx
  public/images/yash/yash.jpg
Due: eslint --fix, prettier --write

chore: change font
  app/layout.tsx
Due: eslint --fix, prettier --write

chore: link avatar to home page
  components/layout/navigation.tsx
Due: eslint --fix, prettier --write

chore: increase number of posts to show on homepage
  config/site.ts
Due: none

feat: redesign navbar and increase content width (#129)
  app/layout.tsx
  app/page.tsx
  bun.lock
  components/layout/footer.tsx
  components/layout/nav-menu.tsx
  components/layout/navigation.tsx
  components/ui/avatar.tsx
  components/ui/dropdown-menu.tsx
  config/site.ts
  package.json
  public/images/yash/yash.jpg
Due: eslint --fix, prettier --write

feat: use shadcn yellow theme colors
  app/page.tsx
  components/content/note-preview.tsx
  components/layout/footer.tsx
  components/ui/clock/clock.tsx
  components/ui/social-links.tsx
  styles/globals.css
Due: eslint --fix, prettier --write

feat: use shadcn yellow theme colors (#130)
  app/page.tsx
  components/content/note-preview.tsx
  components/layout/footer.tsx
  components/ui/clock/clock.tsx
  components/ui/social-links.tsx
  styles/globals.css
Due: eslint --fix, prettier --write

feat: fix disqus again
  styles/globals.css
Due: none

feat: make dropdown icon animated
  components/layout/nav-menu.tsx
Due: eslint --fix, prettier --write

feat: let the sun shine bright yellow
  components/interactive/mode-toggle.tsx
  components/layout/nav-menu.tsx
Due: eslint --fix, prettier --write

Feat: fix disqus (#131)
  components/interactive/mode-toggle.tsx
  components/layout/nav-menu.tsx
  styles/globals.css
Due: eslint --fix, prettier --write
