Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: prevent horizontal overflow on mobile
  src/layouts/BaseLayout.astro
Due: none

fix: remove background hover boxes from nav, use text-only hover
  src/components/layout/Navigation.astro
Due: none

fix: compact tag list — collapsible like series component
  src/components/content/TagList.astro
Due: none

fix: compact series and toc components
  src/components/content/Series.astro
  src/layouts/BlogLayout.astro
Due: none

fix: reduce paragraph margins inside list items
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: add more gap between sibling list items
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: simplify tags and categories pages, remove breadcrumbs, clean layout
  src/components/content/Breadcrumbs.astro
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: none

fix: compact code blocks, remove toc link, add heading tracking
  src/layouts/BlogLayout.astro
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: switch email icon to simple-icons for consistent weight
  src/components/content/SocialLinks.astro
Due: none

fix: replace More dropdown with Work link in nav
  src/components/layout/Navigation.astro
Due: none

fix: toc highlight with underline+bold, fix indent
  src/layouts/BlogLayout.astro
Due: none

fix: restore series box, fix toc highlight with DOMContentLoaded
  src/components/content/Series.astro
  src/layouts/BlogLayout.astro
Due: none

fix: add border box around share link
  src/layouts/BlogLayout.astro
Due: none

fix: brighten dark mode muted text, accent, and borders
  src/styles/globals.css
Due: prettier --write

fix: remove max-w-xs wrapper, constrain form only, widen name field
  src/components/layout/Footer.astro
Due: none

fix: unify footer text to text-sm, clock to h-5
  src/components/layout/Footer.astro
  src/components/ui/AnalogClock.astro
Due: none

fix: use hex colors for Disqus to prevent OKLCH parse errors
  src/styles/globals.css
Due: prettier --write

fix: move RSS from footer nav to social icons
  src/components/content/SocialLinks.astro
  src/components/layout/Footer.astro
Due: none

fix: date outside link so underline only hits title
  src/components/content/NotePreview.astro
  src/pages/index.astro
Due: none

fix: tighten work section heading-to-paragraph gap
  src/pages/index.astro
Due: none

Revert "feat: two-row list layout with category chip, dimmer date"
  src/components/content/NotePreview.astro
  src/pages/index.astro
Due: none

fix: use global note numbers on all pages
  src/lib/content.ts
  src/pages/categories/[category].astro
  src/pages/notes/index.astro
  src/pages/tags/[tag].astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: remove post title from breadcrumb, simplify like button
  src/components/content/LikeButton.astro
  src/layouts/BlogLayout.astro
Due: none

fix: restore grid-rows-[1fr]/[0fr] needed for collapse animation
  src/components/content/Series.astro
Due: none

fix: reduce paragraph margins to browser-like 1em
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add name field and context line to newsletter form
  src/components/layout/Footer.astro
Due: none

fix: simplify work page — flat layout, no timeline, no intro
  src/components/content/WorkExperience.astro
  src/pages/work.astro
Due: none

fix: use CSS variables for Disqus background to match page
  src/styles/globals.css
Due: prettier --write

fix: remove --background and --foreground overrides from Disqus hex fallbacks
  src/styles/globals.css
Due: prettier --write

fix: remove negative margins causing overflow
  src/components/content/RelatedNotes.astro
  src/pages/notes/index.astro
Due: none

fix: titles wrap instead of truncate on mobile
  src/components/content/NotePreview.astro
  src/pages/index.astro
Due: none

fix: zero margins on p inside li, restore paragraph margins
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: use total note count for global numbering
  src/pages/index.astro
Due: none

fix: improve prose hierarchy — more breathing room, distinct heading sizes
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add numbering to note lists (oldest = 1)
  src/components/content/NotePreview.astro
  src/pages/index.astro
  src/pages/notes/index.astro
Due: none

fix: compact blog layout — single column, keep breadcrumbs, simplify share
  src/layouts/BlogLayout.astro
  src/pages/notes/[slug].astro
Due: none

feat: add hover underline to all links globally
  src/pages/notes/index.astro
  src/styles/globals.css
Due: prettier --write

fix: increase underline offset to 0.3em
  src/styles/globals.css
Due: prettier --write

feat: add Staff Engineer role, work section on homepage
  src/pages/index.astro
  src/pages/work.astro
Due: none

fix: restore analog clock, left-justify footer, add home link
  src/components/layout/Footer.astro
Due: none

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,json})) or (any of: **/*.css)
  bash -c 'bun run typecheck': any of: **/*.{ts,tsx,js,jsx}
