Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

.lintstagedrc:

{
  "**/*.{tsx, ts, js, jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,mdx}": ["node ./scripts/update-frontmatter.ts", "prettier --write"]
}

chore: notes list improvements
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  hooks/use-media-query.tsx
Due: eslint --fix, prettier --write

chore: fix build failure
  components/notes-list.tsx
Due: eslint --fix, prettier --write

chore: note listing changes
  components/all-notes.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/search.tsx
Due: eslint --fix, prettier --write

chore: fix aria-label
  components/footer.tsx
  components/ui/clock/clock.tsx
Due: eslint --fix, prettier --write

chore: testing suspense
  components/note-preview.tsx
Due: eslint --fix, prettier --write

chore: use tailwind to hide on mobile
  components/note-preview.tsx
Due: eslint --fix, prettier --write

chore: show active tab in footer nav
  components/footer.tsx
Due: eslint --fix, prettier --write

Notes listing improvements (#89)
  components/all-notes.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  components/search.tsx
  components/ui/clock/clock.tsx
  hooks/use-media-query.tsx
Due: eslint --fix, prettier --write

feat: statically generate notes
  app/notes/[slug]/page.tsx
Due: eslint --fix, prettier --write

chore: fix notes page width
  app/layout.tsx
Due: eslint --fix, prettier --write

feat: statically generate notes (#90)
  app/layout.tsx
  app/notes/[slug]/page.tsx
Due: eslint --fix, prettier --write

chore: saving progress
  app/layout.tsx
  app/notes/[slug]/page.tsx
  components/mdx.tsx
  contentlayer.config.ts
  styles/globals.css
  styles/mdx.css
Due: eslint --fix, prettier --write

feat: code blocks working
  components/mdx.tsx
  contentlayer.config.ts
  styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: changes in more components
  components/mdx.tsx
  components/ui/image.tsx
  styles/mdx.css
Due: eslint --fix, prettier --write

chore: fix build failure
  app/page.tsx
Due: eslint --fix, prettier --write

chore: remove prose-article class
  app/(pages)/lifelog/page.tsx
  app/work/page.tsx
Due: eslint --fix, prettier --write

chore: add react-wrap-balancer
  components/ui/link.tsx
  components/ui/section-title.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix internal link rendering
  components/mdx.tsx
  components/ui/link.tsx
Due: eslint --fix, prettier --write

chore: minor changes
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  app/work/page.tsx
  components/mdx.tsx
  components/ui/section-title.tsx
  styles/mdx.css
Due: eslint --fix, prettier --write

Feat: note rendering improvements (#91)
  app/(pages)/lifelog/page.tsx
  app/layout.tsx
  app/notes/[slug]/page.tsx
  app/page.tsx
  app/work/page.tsx
  components/mdx.tsx
  components/ui/image.tsx
  components/ui/section-title.tsx
  contentlayer.config.ts
  package.json
  styles/globals.css
  styles/mdx.css
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: show selected notes on home page
  app/page.tsx
  components/featured-notes.tsx
  components/note-preview.tsx
  config/site.ts
  contentlayer.config.ts
  lib/content.ts
  types/index.d.ts
Due: eslint --fix, prettier --write

chore: add featured property to mdx files
  components/featured-notes.tsx
  content/definitions/note.ts
  content/notes/debug-bluetooth-on-linux.mdx
  content/notes/integrating-contentlayer-with-nextjs-blog.mdx
  content/notes/setting-up-ssh-agent-in-i3.mdx
  content/notes/train-the-algorithm.mdx
  content/notes/why-i-decided-to-not-join-isro.mdx
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

chore: use consistent date format
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  components/note-preview.tsx
Due: eslint --fix, prettier --write

Show popular posts on homepage - part 1 (#92)
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  app/page.tsx
  components/featured-notes.tsx
  components/note-preview.tsx
  config/site.ts
  content/definitions/note.ts
  content/notes/debug-bluetooth-on-linux.mdx
  content/notes/integrating-contentlayer-with-nextjs-blog.mdx
  content/notes/setting-up-ssh-agent-in-i3.mdx
  content/notes/train-the-algorithm.mdx
  content/notes/why-i-decided-to-not-join-isro.mdx
  contentlayer.config.ts
  lib/content.ts
  types/index.d.ts
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

feat: add colophon
  app/(pages)/colophon/page.tsx
  app/(pages)/work/page.tsx
  app/layout.tsx
  components/footer.tsx
Due: eslint --fix, prettier --write

chore: add github link
  app/(pages)/colophon/page.tsx
Due: eslint --fix, prettier --write

Add colophon (#93)
  app/(pages)/colophon/page.tsx
  app/(pages)/work/page.tsx
  app/layout.tsx
  components/footer.tsx
Due: eslint --fix, prettier --write

chore: started post on Rishikesh Trip
  content/notes/rishikesh-mussoorie.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

Set up Adguard on Termux
  content/notes/running-adguard-with-termux.mdx
  package.json
Due: prettier --write, node ./scripts/update-frontmatter.ts

Make it a featured post
  content/notes/running-adguard-with-termux.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

fix formatting
  content/definitions/note.ts
  content/notes/running-adguard-with-termux.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

feat: fix scrollbar issue and migrate to bun
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  README.md
  bun.lock
  components/mdx.tsx
  components/mode-toggle.tsx
  components/newsletter.tsx
  components/ui/clock/clock.tsx
  components/ui/tooltip.tsx
  package.json
  styles/globals.css
  styles/mdx.css
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

feat: fix scrollbar issue and migrate to bun (#96)
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  README.md
  bun.lock
  components/mdx.tsx
  components/mode-toggle.tsx
  components/newsletter.tsx
  components/ui/clock/clock.tsx
  components/ui/tooltip.tsx
  package.json
  styles/globals.css
  styles/mdx.css
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

feat: tailwindcss v4 🥳
  .eslintrc.json
  app/og/route.tsx
  bun.lock
  components/mdx.tsx
  components/newsletter.tsx
  components/search.tsx
  components/tag-list.tsx
  components/ui/aside.tsx
  components/ui/draft.tsx
  package.json
  postcss.config.js
  styles/globals.css
  styles/mdx.css
Due: eslint --fix, prettier --write

feat: tailwindcss v4 🥳 (#97)
  .eslintrc.json
  app/og/route.tsx
  bun.lock
  components/mdx.tsx
  components/newsletter.tsx
  components/search.tsx
  components/tag-list.tsx
  components/ui/aside.tsx
  components/ui/draft.tsx
  package.json
  postcss.config.js
  styles/globals.css
  styles/mdx.css
Due: eslint --fix, prettier --write

chore: fix tailwindcss v4 post-migration issues
  styles/mdx.css
  tailwind.config.js
Due: none

chore: lint css files
  .lintstagedrc
Due: none

Fixing post-tailwindcss-v4 migration issues. (#98)
  .lintstagedrc
  styles/mdx.css
  tailwind.config.js
Due: none
