Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run typecheck'

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "bash -c 'bun run typecheck'"
  ],
  "**/*.{md,mdx,json}": ["prettier --write"],
  "**/*.css": ["prettier --write"]
}

feat: refine dark mode colors with high-emphasis heading variable
  src/components/ui/Heading.astro
  src/layouts/BlogLayout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/pages/work.astro
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: refine typography and color contrast
  src/styles/globals.css
  src/styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: typography refinements and warm dark mode
  src/components/content/ExcalidrawSVG.astro
  src/components/ui/Image.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: improve sidebar TOC UX
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: none

feat: update light mode background to barely warm white
  src/styles/globals.css
Due: prettier --write

Switch to system fonts (#1)
  bun.lock
  package.json
  public/fonts/Signifier-Regular.otf
  src/components/content/ExcalidrawSVG.astro
  src/components/ui/Heading.astro
  src/components/ui/Image.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/pages/work.astro
  src/styles/fonts.css
  src/styles/globals.css
  src/styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Add claude-to-markdown tool
  public/tools/claude-to-markdown/index.html
Due: none

Fix OG image font loading
  public/fonts/geist-sans-latin-400-normal.woff
  public/fonts/geist-sans-latin-700-normal.woff
  src/lib/og-image.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add post about forgejo Git sync failure and fix
  src/content/notes/2026-05-02-fixing-corrupted-git-objects-in-forgejo/index.mdx
Due: prettier --write

fix: add missing @fontsource/geist-sans dependency for OG image generation
  bun.lock
  package.json
Due: prettier --write

feat: migrate to shadcn/ui with Base UI and new theme
  bun.lock
  components.json
  package.json
  src/components/ui/button.tsx
  src/styles/globals.css
  tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

chore: switch icon library from phosphor to lucide-react
  bun.lock
  components.json
  package.json
Due: prettier --write

chore: remove unused fontsource packages
  bun.lock
  package.json
Due: prettier --write

feat: migrate to shadcn/ui with Base UI and new theme (#2)
  bun.lock
  components.json
  package.json
  src/components/ui/button.tsx
  src/styles/globals.css
  tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

style: compact design — smaller fonts, tighter spacing, cleaner home page
  src/components/content/Backlinks.astro
  src/components/content/ExcalidrawSVG.astro
  src/components/content/TagList.astro
  src/components/content/WorkExperience.astro
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/ui/DecorativeHr.astro
  src/components/ui/Heading.astro
  src/components/ui/Section.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
  src/pages/index.astro
  src/pages/notes/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/pages/work.astro
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

style: switch to pure white/black color scheme
  src/layouts/BaseLayout.astro
  src/styles/globals.css
Due: prettier --write

feat: add active state to footer nav links
  src/components/layout/Footer.astro
Due: none

fix: compact notes listing — remove dotted separator, bg hover, counter
  src/components/content/NotePreview.astro
  src/pages/notes/index.astro
Due: none

fix: compact search bar — smaller height, left icon, simpler focus
  src/components/interactive/SearchInput.astro
Due: none

fix: dial back prose spacing — compact but readable middle ground
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: reduce margins for nested lists inside li
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: remove tracking-tight from page headings
  src/components/ui/Heading.astro
Due: none

fix: stack form vertically on mobile
  src/components/layout/Footer.astro
Due: none

fix: left-align social icons in footer
  src/components/content/SocialLinks.astro
Due: none

fix: add hex fallbacks for Disqus to prevent OKLCH parse errors
  src/styles/globals.css
Due: prettier --write

fix: use browser-like defaults for list spacing, override typography plugin
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: scope hex overrides to .comments only, restore dark mode
  src/styles/globals.css
Due: prettier --write

fix: extend Disqus hex fallbacks to comments-section, remove duplicates
  src/styles/globals.css
Due: prettier --write

fix: tighten list spacing in prose
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: restore three-col layout with simplified TOC sidebar
  src/layouts/BlogLayout.astro
Due: none

fix: add no-underline to tags, backlinks, series; remove arbitrary grid values
  src/components/content/Backlinks.astro
  src/components/content/Series.astro
  src/components/content/TagList.astro
  src/layouts/BlogLayout.astro
Due: none

fix: reduce series border radius to match search input
  src/components/content/Series.astro
Due: none

fix: shorten newsletter tagline to fit one line
  src/components/layout/Footer.astro
Due: none

fix: revert to lucide mail icon
  src/components/content/SocialLinks.astro
Due: none

fix: separate newsletter section with top border
  src/components/layout/Footer.astro
Due: none

fix: add cursor-pointer to More dropdown button
  src/components/layout/Navigation.astro
Due: none

feat: subtle underline on all links by default, no-underline on nav/list/footer
  src/components/content/NotePreview.astro
  src/components/content/SocialLinks.astro
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/pages/index.astro
  src/styles/globals.css
Due: prettier --write

fix: let browser defaults handle list spacing
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: shrink clock, remove list hover color shift
  src/components/ui/AnalogClock.astro
  src/pages/index.astro
Due: none
