Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix(newsletter): gate submit on altcha verification and enforce honeypot
  src/pages/newsletter/index.astro
Due: none

fix(newsletter): replace altcha with turnstile and add server-side verification
  api/subscribe.ts
  src/pages/newsletter/index.astro
  vercel.json
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix(newsletter): use real turnstile site key
  src/pages/newsletter/index.astro
Due: none

fix(newsletter): use env-aware turnstile site key for preview vs production
  src/pages/newsletter/index.astro
Due: none

fix(newsletter): block subscription form on preview and local builds
  src/pages/newsletter/index.astro
Due: none

fix(newsletter): replace altcha with turnstile and add server-side verification (#178)
  api/subscribe.ts
  src/pages/newsletter/index.astro
  vercel.json
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: remove negative margin from turnstile widget
  src/pages/newsletter/index.astro
Due: none

fix: remove negative margin from turnstile widget (#179)
  src/pages/newsletter/index.astro
Due: none

fix: sync turnstile theme with site theme toggle
  src/pages/newsletter/index.astro
Due: none

fix: sync turnstile theme with site theme toggle (#180)
  src/pages/newsletter/index.astro
Due: none

Add Mum's Memories project page with daily updates
  src/pages/mums-memories.astro
  src/pages/now.astro
Due: none

Fix heading sizes on mobile - ensure each level is visibly larger than body text
  src/components/ui/Heading.astro
Due: none

Add Mum's Memories project page (#181)
  src/components/ui/Heading.astro
  src/pages/mums-memories.astro
  src/pages/now.astro
Due: none

Polish: animation and motion refinements
  src/components/content/Backlinks.astro
  src/components/content/MDXAccordion.astro
  src/components/content/ReadingProgress.astro
  src/components/content/Series.astro
  src/components/content/SocialLinks.astro
  src/components/content/TagList.astro
  src/components/interactive/CodeBlock.astro
  src/components/interactive/SearchModal.astro
  src/components/interactive/ThemeToggle.astro
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/ui/AnalogClock.astro
  src/components/ui/Link.astro
  src/layouts/BaseLayout.astro
  src/pages/notes/index.astro
  src/styles/globals.css
  src/styles/mdx.css
Due: prettier --write

Polish: animation and motion refinements (#182)
  src/components/content/Backlinks.astro
  src/components/content/MDXAccordion.astro
  src/components/content/ReadingProgress.astro
  src/components/content/Series.astro
  src/components/content/SocialLinks.astro
  src/components/content/TagList.astro
  src/components/interactive/CodeBlock.astro
  src/components/interactive/SearchModal.astro
  src/components/interactive/ThemeToggle.astro
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/ui/AnalogClock.astro
  src/components/ui/Link.astro
  src/layouts/BaseLayout.astro
  src/pages/notes/index.astro
  src/styles/globals.css
  src/styles/mdx.css
Due: prettier --write

Format CSS
  src/styles/globals.css
Due: prettier --write

docs: add July 10 closed testing update to mums-memories project page
  src/pages/mums-memories.astro
Due: none

docs: add July 10 closed testing update to mums-memories page
  src/pages/mums-memories.astro
Due: none

Add Kindle book sync article
  src/content/notes/2026-08-25-self-hosting-kindle-book-sync/index.mdx
Due: prettier --write

Add Kindle book and article sync article (#184)
  src/content/notes/2026-08-25-self-hosting-kindle-book-sync/index.mdx
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,json})) or (any of: **/*.css)
  bash -c 'bun run typecheck': any of: **/*.{ts,tsx,js,jsx}
