Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: resolve syntax error in sidenote component and add x-cloak
  src/components/content/Sidenote.astro
Due: none

Three columns layout (#160)
  astro.config.mjs
  bun.lock
  package.json
  src/alpine-plugins.ts
  src/components/content/Sidenote.astro
  src/content/notes/my-bug-of-the-year-and-how-i-fixed-it.mdx
  src/content/notes/sidenote-test.mdx
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/404.astro
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
  src/pages/index.astro
  src/pages/notes/[slug].astro
  src/pages/notes/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/pages/work.astro
  src/styles/globals.css
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add analytics integration with view counts and like buttons
  astro.config.mjs
  src/alpine-plugins.ts
  src/components/content/LikeButton.astro
  src/components/content/ViewCount.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: update like button to use DO-based atomic counter API
  src/alpine-plugins.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: prevent XSS in Alpine.js data binding and add cross-tab sync
  src/alpine-plugins.ts
  src/components/content/LikeButton.astro
  src/components/content/ViewCount.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

perf: cache env checks and localStorage parsing
  CORS_FIX.md
  blog-header-prompt.md
  chart-prompts.md
  dev-dist/sw.js
  dev-dist/workbox-8c29f6e4.js
  plan.md
  src/alpine-plugins.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add request timeouts, move website ID to config, fix like button race condition
  CORS_FIX.md
  blog-header-prompt.md
  chart-prompts.md
  dev-dist/sw.js
  dev-dist/workbox-8c29f6e4.js
  plan.md
  src/alpine-plugins.ts
  src/config/site.ts
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/lib/og-image.ts
  src/pages/og-image.png.ts
  src/pages/og/[...slug].png.ts
  src/pwa.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

remove: Cloudflare Web Analytics beacon
  src/layouts/BaseLayout.astro
Due: none

Refine analytics components styling and loading states
  src/alpine-plugins.ts
  src/components/content/LikeButton.astro
  src/components/content/MobileActions.astro
  src/components/content/ViewCount.astro
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Show 'Unlike' text in mobile actions when post is liked
  src/components/content/MobileActions.astro
Due: none

Add red heart styling and sync like state across components
  src/alpine-plugins.ts
  src/components/content/LikeButton.astro
  src/components/content/MobileActions.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Migrate all icons to astro-icon with Iconify
  .gitignore
  astro.config.mjs
  bun.lock
  package.json
  src/components/content/Backlinks.astro
  src/components/content/LikeButton.astro
  src/components/content/MDXAccordion.astro
  src/components/content/MobileActions.astro
  src/components/content/MobileTOC.astro
  src/components/content/Series.astro
  src/components/content/Sidenote.astro
  src/components/content/SocialLinks.astro
  src/components/content/TagList.astro
  src/components/content/ViewCount.astro
  src/components/content/WorkExperience.astro
  src/components/interactive/CodeBlock.astro
  src/components/interactive/SearchInput.astro
  src/components/interactive/ThemeToggle.astro
  src/components/layout/Navigation.astro
  src/components/ui/Image.astro
  src/components/ui/Link.astro
  src/layouts/BlogLayout.astro
  src/pages/index.astro
  src/pages/work.astro
Due: prettier --write

Fix heart icon fill with inline SVG for Alpine.js
  src/components/content/LikeButton.astro
  src/components/content/MobileActions.astro
Due: none

Make Claude code review on-demand via @claude comment
  .github/workflows/claude-code-review.yml
Due: none

Improve alpine-plugins type safety and error handling
  src/alpine-plugins.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Disable PWA integration
  astro.config.mjs
Due: none

remove pwa script
  src/layouts/BaseLayout.astro
Due: none

feat: add analytics integration with view counts and like buttons (#161)
  .github/workflows/claude-code-review.yml
  .gitignore
  astro.config.mjs
  bun.lock
  package.json
  src/alpine-plugins.ts
  src/components/content/Backlinks.astro
  src/components/content/LikeButton.astro
  src/components/content/MDXAccordion.astro
  src/components/content/MobileActions.astro
  src/components/content/MobileTOC.astro
  src/components/content/Series.astro
  src/components/content/Sidenote.astro
  src/components/content/SocialLinks.astro
  src/components/content/TagList.astro
  src/components/content/ViewCount.astro
  src/components/content/WorkExperience.astro
  src/components/interactive/CodeBlock.astro
  src/components/interactive/SearchInput.astro
  src/components/interactive/ThemeToggle.astro
  src/components/layout/Navigation.astro
  src/components/ui/Image.astro
  src/components/ui/Link.astro
  src/config/site.ts
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/lib/og-image.ts
  src/pages/index.astro
  src/pages/og-image.png.ts
  src/pages/og/[...slug].png.ts
  src/pages/work.astro
  src/pwa.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Remove PWA manifest and script references
  src/layouts/BaseLayout.astro
Due: none

feat: add ExcalidrawSVG component with smart dark mode support
  scripts/fix-excalidraw-svg-colors.js
  src/components/content/ExcalidrawSVG.README.md
  src/components/content/ExcalidrawSVG.astro
  src/content/notes/2025-12-21-my-bug-of-the-year-and-how-i-fixed-it/index.mdx
  src/content/notes/2025-12-21-my-bug-of-the-year-and-how-i-fixed-it/request-processing-without-monkey-patching.svg
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

remove unused files
  scripts/fix-excalidraw-svg-colors.js
  src/components/content/ExcalidrawSVG.README.md
  src/content/notes/2025-12-21-my-bug-of-the-year-and-how-i-fixed-it/request-processing-without-monkey-patching.webp
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add ExcalidrawSVG component with smart dark mode support (#163)
  src/components/content/ExcalidrawSVG.astro
  src/content/notes/2025-12-21-my-bug-of-the-year-and-how-i-fixed-it/index.mdx
  src/content/notes/2025-12-21-my-bug-of-the-year-and-how-i-fixed-it/request-processing-without-monkey-patching.svg
  src/content/notes/2025-12-21-my-bug-of-the-year-and-how-i-fixed-it/request-processing-without-monkey-patching.webp
Due: prettier --write

Post on Self Hosting Umami with Cloudflare Workers
  src/content/notes/2025-12-26-self-hosting-umami-with-cloudflare-workers-as-proxy/index.mdx
Due: prettier --write

fix mermaid styling
  scripts/create-note.ts
  src/styles/mdx.css
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

svg size fixes
  src/components/content/ExcalidrawSVG.astro
Due: none

finalize post on Self Hosting Umami with Cloudflare Workers
  src/components/content/SocialLinks.astro
  src/content/notes/2025-12-26-self-hosting-umami-with-cloudflare-workers-as-proxy/index.mdx
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/durable-objects-retry-flow.svg
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/index.mdx
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/pi-offline-without-worker.svg
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/request-flow.svg
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/umami-dashboard.png
  src/layouts/BlogLayout.astro
Due: prettier --write

fixes
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/index.mdx
Due: prettier --write

Post on self hosting Umami with Cloudflare Analytics (#164)
  scripts/create-note.ts
  src/components/content/ExcalidrawSVG.astro
  src/components/content/SocialLinks.astro
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/durable-objects-retry-flow.svg
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/index.mdx
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/pi-offline-without-worker.svg
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/request-flow.svg
  src/content/notes/2025-12-27-self-hosting-umami-with-cloudflare-workers-as-proxy/umami-dashboard.png
  src/layouts/BlogLayout.astro
  src/styles/mdx.css
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Switch to system fonts
  bun.lock
  package.json
  src/layouts/BaseLayout.astro
  src/styles/fonts.css
Due: prettier --write

Use uppercase sans-serif for headings with wider tracking
  src/components/ui/Heading.astro
Due: none

feat: add pagefind search for notes
  astro.config.mjs
  bun.lock
  package.json
  src/layouts/BlogLayout.astro
  src/pages/notes/index.astro
Due: prettier --write

fix: normalize URLs for pagefind search matching
  src/pages/notes/index.astro
Due: none

fix: initialize pagefind and add debug logging
  src/pages/notes/index.astro
Due: none

fix: add comprehensive debug logging
  src/pages/notes/index.astro
Due: none

fix: load result data to access URLs
  src/pages/notes/index.astro
Due: none

chore: remove debug logging
  src/pages/notes/index.astro
Due: none

feat: add pagefind search for notes (#166)
  astro.config.mjs
  bun.lock
  package.json
  src/layouts/BlogLayout.astro
  src/pages/notes/index.astro
Due: prettier --write

feat: update typography to system fonts with 18px base
  bun.lock
  package.json
  public/fonts/Signifier-Regular.otf
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/fonts.css
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,json})) or (any of: **/*.css)
  bash -c 'bun run typecheck': any of: **/*.{ts,tsx,js,jsx}
