Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

.lintstagedrc:

{
  "**/*.{tsx, ts, js, jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,mdx}": ["node ./scripts/update-frontmatter.ts", "prettier --write"]
}

chore: fix build
  app/notes/[slug]/page.tsx
Due: eslint --fix, prettier --write

chore: minor improvement
  app/tags/[tag]/page.tsx
Due: eslint --fix, prettier --write

chore: change whoami page font-size
  app/whoami/page.tsx
Due: eslint --fix, prettier --write

chore: rename article variables
  app/notes/page.tsx
  app/tags/[tag]/page.tsx
  components/all-notes.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  components/top-notes.tsx
  content/notes/manali-mountains-and-memories.mdx
  lib/content.ts
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

chore: remove hello-world post
  content/notes/hello-world.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: remove test remains
  content/notes/manali-mountains-and-memories.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: fix bug
  content/notes/implementing-a-tag-cloud-in-nextjs-blog.mdx
  content/notes/rss-feeds-in-nextjs-blog.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: add post file
  content/notes/setup-giscus-in-next-js-blog.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: post on independence day
  content/notes/india-turns-77.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: fix sentences
  content/notes/india-turns-77.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: change growthStage
  content/notes/india-turns-77.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

Writing: India turns 77 (#66)
  content/notes/india-turns-77.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: add cover image
  content/notes/thailand-sandy-beaches-to-bustling-streets.mdx
  public/images/notes/thailand-sandy-beaches-to-bustling-streets/thailand-sandy-beaches-to-bustling-streets/thailand.jpg
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: format
  content/notes/thailand-sandy-beaches-to-bustling-streets.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

fix: fix backlink showing in its own note
  components/backlinks.tsx
  lib/content.ts
Due: eslint --fix, prettier --write

fix: fix backlink showing in its own note (#69)
  components/backlinks.tsx
  lib/content.ts
Due: eslint --fix, prettier --write

chore: add utm ref to external links
  components/ui/link.tsx
Due: eslint --fix, prettier --write

chore: add utm ref to external links (#70)
  components/ui/link.tsx
Due: eslint --fix, prettier --write

chore: upgrade to nextjs 13.4
  package.json
  yarn.lock
Due: none

chore: upgrade to nextjs 13.4 (#72)
  package.json
  yarn.lock
Due: none

chore: front page changes
  app/page.tsx
Due: eslint --fix, prettier --write

chore: add nvmrc file
  .nvmrc
Due: none

chore: fix footer to bottom
  app/layout.tsx
  components/footer.tsx
  components/ui/navigation.tsx
Due: eslint --fix, prettier --write

chore: remove vercel analytics
  components/analytics.tsx
Due: eslint --fix, prettier --write

chore: remove comments
  app/notes/[slug]/page.tsx
Due: eslint --fix, prettier --write

feat: add umami tracking
  components/analytics.tsx
  vercel.json
Due: eslint --fix, prettier --write

feat: add umami tracking (#73)
  components/analytics.tsx
  vercel.json
Due: eslint --fix, prettier --write

chore: removing db
  app/loading.tsx
  app/stats/page.tsx
  components/metrics/loading.tsx
  components/metrics/metric.tsx
  components/top-notes.tsx
  components/ui/loading-dots.tsx
  components/ui/loading.tsx
  components/ui/note-preview-loading.tsx
  components/view-counter.tsx
  lib/actions.ts
  lib/constants.ts
  lib/db_types.ts
  lib/planetscale.ts
  lib/prisma.ts
  prisma/migrations/0_init/migration.sql
  prisma/schema.prisma
Due: eslint --fix, prettier --write

chore: simplifying the design
  app/notes/[slug]/page.tsx
  app/whoami/page.tsx
  components/all-notes.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/ui/image.tsx
  content/definitions/note.ts
  content/notes/india-turns-77.mdx
  lib/content.ts
  package.json
  types/index.d.ts
  yarn.lock
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

chore: remove unused env variables
  env.mjs
  lib/server-utils.ts
Due: none

Feature: Remove all DB usage (#74)
  app/loading.tsx
  app/notes/[slug]/page.tsx
  app/stats/page.tsx
  app/whoami/page.tsx
  components/all-notes.tsx
  components/footer.tsx
  components/metrics/loading.tsx
  components/metrics/metric.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/top-notes.tsx
  components/ui/image.tsx
  components/ui/loading-dots.tsx
  components/ui/loading.tsx
  components/ui/note-preview-loading.tsx
  components/view-counter.tsx
  content/definitions/note.ts
  content/notes/india-turns-77.mdx
  env.mjs
  lib/actions.ts
  lib/constants.ts
  lib/content.ts
  lib/db_types.ts
  lib/planetscale.ts
  lib/prisma.ts
  lib/server-utils.ts
  package.json
  prisma/migrations/0_init/migration.sql
  prisma/schema.prisma
  types/index.d.ts
  yarn.lock
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

feat: add disqus (again!)
  app/layout.tsx
  app/notes/[slug]/page.tsx
  components/comments.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add disqus (again!) (#75)
  app/layout.tsx
  app/notes/[slug]/page.tsx
  components/comments.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add url to disqus config
  app/notes/[slug]/page.tsx
  components/comments.tsx
Due: eslint --fix, prettier --write
