Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

.lintstagedrc:

{
  "**/*.{tsx, ts, js, jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,mdx}": ["node ./scripts/update-frontmatter.ts", "prettier --write"]
}

style: update color scheme to monochromatic blue theme
  styles/globals.css
  tailwind.config.js
Due: none

style: update code and anchor styles to use primary color scheme
  styles/mdx.css
Due: none

feat: Increase container width on larger screens
  app/layout.tsx
Due: eslint --fix, prettier --write

feat: Increase prose size on larger screens for wider content display
  app/notes/[slug]/page.tsx
  app/page.tsx
Due: eslint --fix, prettier --write

chore: increase the width of the main container for desktop
  .gitignore
  app/(pages)/colophon/page.tsx
  app/(pages)/lifelog/page.tsx
  app/(pages)/work/page.tsx
  app/notes/[slug]/page.tsx
  components/footer.tsx
  components/mdx.tsx
Due: eslint --fix, prettier --write

chore: saving progress
  app/page.tsx
  bun.lock
  components/featured-notes.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/projects.tsx
  components/social-icons.tsx
  components/ui/button.tsx
  package.json
Due: eslint --fix, prettier --write

feat: add litlyx (hosted, for now)
  .gitignore
  bun.lock
  components/analytics.tsx
  package.json
Due: eslint --fix, prettier --write

feat: add litlyx (hosted, for now) (#100)
  .gitignore
  bun.lock
  components/analytics.tsx
  package.json
Due: eslint --fix, prettier --write

feat: add post about using cloudflared in homelab
  content/notes/homelab-using-cloudflared.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: fix styling
  .gitignore
  app/notes/[slug]/page.tsx
  components/mdx.tsx
  styles/mdx.css
Due: eslint --fix, prettier --write

chore: fix featured notes logic
  components/featured-notes.tsx
  content/notes/homelab-using-cloudflared.mdx
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

feat: add post about using cloudflared in homelab (#101)
  .gitignore
  app/notes/[slug]/page.tsx
  components/featured-notes.tsx
  components/mdx.tsx
  content/notes/homelab-using-cloudflared.mdx
  styles/mdx.css
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

feat: add rehype mermaid plugin
  bun.lock
  contentlayer.config.ts
  package.json
  styles/mdx.css
Due: none

feat: enhance heading detection by excluding code blocks
  content/definitions/note.ts
Due: none

feat: add post on securing Traefik with UFW, Fail2Ban, and PSAD
  content/notes/securing-traefik-with-ufw-fail2ban.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: fix formatting
  contentlayer.config.ts
Due: none

feat: add postinstall script to package.json for Playwright installation
  package.json
Due: none

chore: fix mermaid styling in dark mode
  content/notes/securing-traefik-with-ufw-fail2ban.mdx
  contentlayer.config.ts
  styles/mdx.css
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: update tags
  content/notes/homelab-experiment-begins.mdx
  content/notes/homelab-using-cloudflared.mdx
  content/notes/securing-traefik-with-ufw-fail2ban.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: mermaid diagram improvements and minor text changes
  content/notes/securing-traefik-with-ufw-fail2ban.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

Post on securing Traefik (#102)
  bun.lock
  content/definitions/note.ts
  content/notes/homelab-experiment-begins.mdx
  content/notes/homelab-using-cloudflared.mdx
  content/notes/securing-traefik-with-ufw-fail2ban.mdx
  contentlayer.config.ts
  package.json
  styles/mdx.css
Due: prettier --write, node ./scripts/update-frontmatter.ts

feat: migrate to content-collections
  .gitignore
  .prettierignore
  README.md
  app/(feed)/utils.ts
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  app/sitemap.ts
  app/tags/page.tsx
  bun.lock
  content-collections.ts
  content/definitions/lifelog.ts
  content/definitions/note.ts
  content/definitions/series.ts
  contentlayer.config.ts
  lib/content.ts
  lib/server-utils.ts
  next.config.js
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

chore: minor changes
  .prettierrc.js
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  components/mdx.tsx
  content-collections.ts
  content/notes/running-adguard-with-termux.mdx
  lib/actions/newsletter/form.ts
  lib/content.ts
  package.json
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

chore: minor changes
  content-collections.ts
Due: none

chore: testing
  components/mdx.tsx
  content-collections.ts
  styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: fix code styling
  components/mdx.tsx
  package.json
  styles/mdx.css
Due: eslint --fix, prettier --write

chore: fix package builds
  content-collections.ts
  package.json
Due: none

chore: trying to fix build failure in vercel
  bun.lock
  package.json
Due: none

fix: typo
  next.config.js
Due: none

🎉 feat: migrate to content-collections (#103)
  .gitignore
  .prettierignore
  .prettierrc.js
  README.md
  app/(feed)/utils.ts
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  app/sitemap.ts
  app/tags/page.tsx
  bun.lock
  components/mdx.tsx
  content-collections.ts
  content/definitions/lifelog.ts
  content/definitions/note.ts
  content/definitions/series.ts
  content/notes/running-adguard-with-termux.mdx
  contentlayer.config.ts
  lib/actions/newsletter/form.ts
  lib/content.ts
  lib/server-utils.ts
  next.config.js
  package.json
  styles/mdx.css
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

refactor: update color classes to use new design tokens
  app/(pages)/colophon/page.tsx
  app/(pages)/lifelog/page.tsx
  app/(pages)/work/page.tsx
  app/layout.tsx
  app/notes/[slug]/page.tsx
  app/og/route.tsx
  app/page.tsx
  components/backlinks.tsx
  components/footer.tsx
  components/mdx.tsx
  components/mode-toggle.tsx
  components/newsletter.tsx
  components/note-preview.tsx
  components/search.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/tag-cloud.tsx
  components/ui/clock/clock.tsx
  components/ui/draft.tsx
  components/ui/icons/loading-spinner.tsx
  components/ui/image.tsx
  components/ui/navigation.tsx
  components/ui/section-title.tsx
  components/ui/tailwind-indicator.tsx
  components/ui/tooltip.tsx
  styles/globals.css
  styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write

style: standardize border styles across components
  app/notes/[slug]/page.tsx
  components/backlinks.tsx
  components/footer.tsx
  components/series.tsx
  components/table-of-contents.tsx
Due: eslint --fix, prettier --write

fix: minor changes
  components/footer.tsx
  components/note-preview.tsx
Due: eslint --fix, prettier --write

refactor: update color classes to use new design tokens (#104)
  app/(pages)/colophon/page.tsx
  app/(pages)/lifelog/page.tsx
  app/(pages)/work/page.tsx
  app/layout.tsx
  app/notes/[slug]/page.tsx
  app/og/route.tsx
  app/page.tsx
  components/backlinks.tsx
  components/footer.tsx
  components/mdx.tsx
  components/mode-toggle.tsx
  components/newsletter.tsx
  components/note-preview.tsx
  components/search.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/tag-cloud.tsx
  components/ui/clock/clock.tsx
  components/ui/draft.tsx
  components/ui/icons/loading-spinner.tsx
  components/ui/image.tsx
  components/ui/navigation.tsx
  components/ui/section-title.tsx
  components/ui/tailwind-indicator.tsx
  components/ui/tooltip.tsx
  styles/globals.css
  styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: use a coherent typographic system
  app/layout.tsx
  app/notes/[slug]/page.tsx
  components/note-preview.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/tag-cloud.tsx
  components/tag-list.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: fix homepage font sizes
  app/page.tsx
  components/featured-notes.tsx
  components/note-preview.tsx
  components/ui/section-title.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: fix section title bug
  app/notes/[slug]/page.tsx
  components/ui/section-title.tsx
Due: eslint --fix, prettier --write

style: use consistent typography on note page
  app/layout.tsx
  app/notes/[slug]/page.tsx
  components/mdx.tsx
  components/search.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/ui/navigation.tsx
  content/notes/develop-a-theme-for-hugo.mdx
  styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

style: hide backticks fro inline code
  styles/mdx.css
Due: none

chore: use `rem`
  tailwind.config.js
Due: none
