Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix --file, prettier --write, bash -c 'bun run typecheck'

migrate navigation
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/layouts/BaseLayout.astro
Due: none

migrate footer
  src/layouts/BaseLayout.astro
Due: none

add home page -- not perfect though
  src/config/site.ts
  src/pages/index.astro
Due: next lint --fix --file, prettier --write, bash -c 'bun run typecheck'

migrate blog article page
  src/components/content/Breadcrumbs.astro
  src/components/content/NotePreview.astro
  src/components/content/RelatedNotes.astro
  src/components/content/Series.astro
  src/components/content/TagList.astro
  src/components/interactive/SearchInput.astro
  src/components/ui/DecorativeHr.astro
  src/components/ui/Heading.astro
  src/components/ui/Section.astro
  src/layouts/BlogLayout.astro
  src/pages/notes/[slug].astro
  src/pages/notes/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: none

migrate categories
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
Due: none

migrate work page
  astro.config.mjs
  bun.lock
  package.json
  src/components/content/WorkExperience.astro
  src/components/ui/Section.astro
  src/pages/robots.txt.ts
  src/pages/rss.xml.ts
  src/pages/work.astro
Due: next lint --fix --file, prettier --write, bash -c 'bun run typecheck'

feat: complete tasks 20-23 (RSS, Sitemap, Robots, Assets)
  TASKS.md
Due: prettier --write

feat: implement alpinejs theme toggle
  TASKS.md
  src/components/interactive/ThemeToggle.astro
  src/components/layout/Navigation.astro
Due: prettier --write

fix: align navigation width and remove theme toggle border
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  TASKS.md
  astro.config.mjs
  bun.lock
  commitlint.config.js
  eslint.config.mjs
  package.json
  public/_headers
  scripts/create-note.ts
  scripts/optimize-images.ts
  scripts/update-frontmatter.ts
  src/components/interactive/CodeBlock.astro
  src/components/interactive/Comments.tsx
  src/components/interactive/ThemeToggle.astro
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/ui/AnalogClock.astro
  src/layouts/BlogLayout.astro
  src/pages/index.astro
  src/pages/notes/[slug].astro
Due: next lint --fix --file, prettier --write, bash -c 'bun run typecheck'

feat: implement Alpine.js dropdown for More navigation menu
  src/components/layout/Navigation.astro
Due: none

fix: resolve layout shifts and draft visibility
  .prettierrc.cjs
  astro.config.mjs
  bun.lock
  commitlint.config.cjs
  package.json
  scripts/update-frontmatter.ts
  src/components/interactive/CodeBlock.astro
  src/components/layout/Navigation.astro
  src/lib/content.ts
  src/pages/notes/[slug].astro
  src/styles/globals.css
Due: next lint --fix --file, prettier --write, bash -c 'bun run typecheck'

refactor: use getSeriesNotes in Series component
  src/components/content/Series.astro
Due: none

style: align Series component design with original React implementation
  src/components/content/Series.astro
Due: none

style: replace manual svg with Lucide chevron in navigation
  src/components/layout/Navigation.astro
Due: none

style: remove slow transition on body to fix dark mode sync glitch
  src/components/layout/Navigation.astro
  src/styles/globals.css
Due: prettier --write

feat: add active heading highlighting to table of contents
  src/layouts/BlogLayout.astro
Due: none

style: align Table of Contents design with original React implementation
  src/layouts/BlogLayout.astro
Due: none

fix: adjust table of contents active state logic
  src/layouts/BlogLayout.astro
Due: none

fix: improve active heading tracking using first-visible logic
  src/layouts/BlogLayout.astro
Due: none

fix: implement IntersectionObserver-based TOC highlighting
  src/layouts/BlogLayout.astro
Due: none

fix: match typography and add navigation to all pages
  src/components/layout/Navigation.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
  src/pages/index.astro
  src/pages/notes/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/pages/work.astro
  src/styles/globals.css
Due: prettier --write

chore: fix note-list styling
  src/components/content/NotePreview.astro
  src/components/layout/Navigation.astro
  src/pages/notes/index.astro
Due: none

fix: prevent theme transition flash
  astro.config.mjs
  bun.lock
  knip.json
  package.json
  src/components/content/Series.astro
  src/components/interactive/CodeBlock.astro
  src/components/interactive/ThemeToggle.astro
  src/layouts/BlogLayout.astro
  src/styles/globals.css
  src/styles/mdx.css
Due: prettier --write

chore: fix theme toggle animation and nav bar spacing
  src/components/interactive/ThemeToggle.astro
  src/components/layout/Navigation.astro
Due: none

refactor: replace disqus-react with alpine.js implementation
  src/components/interactive/Comments.astro
  src/components/interactive/Comments.tsx
  src/layouts/BlogLayout.astro
Due: next lint --fix --file, prettier --write, bash -c 'bun run typecheck'

fix: add MDX heading components for proper typography
  src/components/content/MDXHeading1.astro
  src/components/content/MDXHeading2.astro
  src/components/content/MDXHeading3.astro
  src/components/content/MDXHeading4.astro
  src/pages/notes/[slug].astro
  src/styles/mdx.css
Due: prettier --write

chore: add copy tooltip
  src/components/interactive/CodeBlock.astro
Due: none

chore: add social links component
  src/components/content/SocialLinks.astro
  src/pages/index.astro
Due: none

chore: fix incorrect syntax in code-block component
  src/components/interactive/CodeBlock.astro
Due: none

chore: fix work page
  src/components/content/Series.astro
  src/pages/index.astro
  src/pages/work.astro
Due: none

feat: migrate Image component from React to Astro
  src/components/ui/Image.astro
  src/pages/notes/[slug].astro
Due: none

feat: add KaTeX CSS for math rendering in blog posts
  src/layouts/BlogLayout.astro
Due: none

feat: add backlinks component to show notes linking to current note
  src/components/content/Backlinks.astro
  src/components/interactive/ThemeToggle.astro
  src/layouts/BlogLayout.astro
  src/lib/content.ts
  src/pages/notes/[slug].astro
Due: next lint --fix --file, prettier --write, bash -c 'bun run typecheck'

feat: add link styling and typography improvements
  astro.config.mjs
  src/components/ui/Link.astro
  src/content/notes/2017-the-best-till-now.mdx
  src/layouts/BaseLayout.astro
  src/pages/notes/[slug].astro
  src/styles/mdx.css
  tailwind.config.js
Due: next lint --fix --file, prettier --write, bash -c 'bun run typecheck'

feat: migrate Mobile TOC and Actions to Astro/Alpine
  package.json
  src/components/content/MobileActions.astro
  src/components/content/MobileTOC.astro
  src/layouts/BlogLayout.astro
Due: prettier --write

chore: add headers
  public/_headers
Due: none

chore: self-host fonts
  .claude/settings.local.json
  bun.lock
  package-lock.json
  package.json
  src/layouts/BaseLayout.astro
Due: prettier --write

fix: updated cache rules for Astro build structure
  public/_headers
Due: none

feat: add touch gesture in mobile drawer
  src/components/content/MobileTOC.astro
Due: none

feat: improve mobile UX (metadata layout + icons, drawer touch gestures)
  src/layouts/BlogLayout.astro
Due: none

Path conditions:
  next lint --fix --file: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,json})) or (any of: **/*.css)
  bash -c 'bun run typecheck': any of: **/*.{ts,tsx,js,jsx}
