Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

.lintstagedrc:

{
  "**/*.{tsx, ts, js, jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{md,mdx}": ["node ./scripts/update-frontmatter.ts", "prettier --write"]
}

chore: increase notes shown on landing
  config/site.ts
Due: none

chore: fix formatting
  config/site.ts
Due: none

Writing: work update (#82)
  app/work/page.tsx
  config/site.ts
Due: eslint --fix, prettier --write

chore: post on social media use
  content/notes/train-the-algorithm.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: minor change
  content/notes/train-the-algorithm.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

Post: Social media use (#83)
  content/notes/train-the-algorithm.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: remove deprecated onLoadingComplete
  components/ui/image.tsx
Due: eslint --fix, prettier --write

chore: clean slate
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  app/page.tsx
  app/work/page.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/recent-notes.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/tag-cloud.tsx
  components/ui/draft.tsx
  contentlayer.config.ts
  styles/globals.css
  styles/mdx.css
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: post on bluetooth debugging in linux
  content/notes/debug-bluetooth-on-linux.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: fix date
  content/notes/debug-bluetooth-on-linux.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: fix UTC date
  content/notes/debug-bluetooth-on-linux.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: add tags
  content/notes/debug-bluetooth-on-linux.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

feat: post on bluetooth debugging in linux (#85)
  content/notes/debug-bluetooth-on-linux.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: change font, colors, font size and home page layout
  app/layout.tsx
  app/notes/[slug]/page.tsx
  app/og/route.tsx
  app/page.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/recent-notes.tsx
  components/series.tsx
  components/table-of-contents.tsx
  components/tag-cloud.tsx
  components/tag-list.tsx
  components/ui/layout/connect.tsx
  components/ui/layout/now.tsx
  components/ui/layout/writing.tsx
  package.json
  public/assets/fonts/geist-regular.otf
  styles/globals.css
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: front page redesign in progress
  app/layout.tsx
  app/page.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/ui/clock/clock.tsx
  components/ui/layout/newsletter.tsx
  components/ui/layout/now.tsx
  components/ui/layout/work.tsx
  components/ui/layout/writing.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: add description
  content/notes/debug-bluetooth-on-linux.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

chore: fix build failure
  app/(pages)/lifelog/page.tsx
  components/search.tsx
Due: eslint --fix, prettier --write

chore: fix notes page
  app/layout.tsx
  app/notes/page.tsx
  app/page.tsx
  components/all-notes.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  components/search.tsx
  components/ui/layout/header.tsx
  components/ui/layout/now.tsx
  components/ui/layout/writing.tsx
Due: eslint --fix, prettier --write

chore: add tooltip on clock
  components/footer.tsx
  components/ui/clock/clock.tsx
  components/ui/tooltip.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: add dark mode toggle in footer
  components/footer.tsx
  components/ui/layout/writing.tsx
Due: eslint --fix, prettier --write

chore: stopping for now
  app/notes/[slug]/page.tsx
  components/mdx.tsx
  components/table-of-contents.tsx
  components/tag-list.tsx
  components/ui/section-title.tsx
  contentlayer.config.ts
  lib/use-media-query.ts
  styles/globals.css
  styles/mdx.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: fix line heights
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  app/page.tsx
  app/work/page.tsx
  components/backlinks.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: fix leading
  components/note-preview.tsx
Due: eslint --fix, prettier --write

chore: minor changes
  app/page.tsx
  components/note-preview.tsx
  components/recent-notes.tsx
Due: eslint --fix, prettier --write

chore: fix line heights (#86)
  app/(pages)/lifelog/page.tsx
  app/notes/[slug]/page.tsx
  app/page.tsx
  app/work/page.tsx
  components/backlinks.tsx
  components/footer.tsx
  components/note-preview.tsx
  components/notes-list.tsx
  components/recent-notes.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: change footer design
  app/layout.tsx
  components/footer.tsx
  components/full-width-footer.tsx
  components/mode-toggle.tsx
  components/ui/clock/clock.tsx
  components/ui/navigation.tsx
  components/ui/tooltip.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: more changes
  components/footer.tsx
Due: eslint --fix, prettier --write

chore: footer background color change
  components/footer.tsx
Due: eslint --fix, prettier --write

feat: new footer design in progress
  components/footer.tsx
Due: eslint --fix, prettier --write

feat: change footer layout (again!)
  components/footer.tsx
Due: eslint --fix, prettier --write

chore: add final design changes
  components/footer.tsx
Due: eslint --fix, prettier --write

chore: remove not-implemented elements
  components/footer.tsx
Due: eslint --fix, prettier --write

chore: minor changes
  components/footer.tsx
Due: eslint --fix, prettier --write

chore: change footer design (#87)
  app/layout.tsx
  components/footer.tsx
  components/full-width-footer.tsx
  components/mode-toggle.tsx
  components/ui/clock/clock.tsx
  components/ui/navigation.tsx
  components/ui/tooltip.tsx
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: email newsletter form validation
  app/layout.tsx
  components/footer.tsx
  components/forms/field-error.tsx
  components/newsletter.tsx
  components/ui/toast.tsx
  hooks/use-form-reset.tsx
  hooks/use-toast-message.tsx
  lib/actions.ts
  lib/actions/newsletter/form.ts
  lib/actions/newsletter/utils.ts
  lib/utils.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix build failure
  hooks/use-form-reset.tsx
Due: eslint --fix, prettier --write

feat: email subscription working
  components/forms/field-error.tsx
  components/newsletter.tsx
  components/ui/icons/loading-spinner.tsx
  hooks/use-toast-message.tsx
  lib/actions/newsletter/form.ts
  lib/utils.ts
  package.json
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: use zod to validate env variables
  env.mjs
  lib/actions/newsletter/form.ts
Due: none

feat: email newsletter (#88)
  app/layout.tsx
  components/footer.tsx
  components/forms/field-error.tsx
  components/newsletter.tsx
  components/ui/icons/loading-spinner.tsx
  components/ui/toast.tsx
  env.mjs
  hooks/use-form-reset.tsx
  hooks/use-toast-message.tsx
  lib/actions.ts
  lib/actions/newsletter/form.ts
  lib/actions/newsletter/utils.ts
  package.json
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write
