Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: push TOC below post title
  src/layouts/BlogLayout.astro
Due: none

style: compact list, redesigned footer, drop Signifier font
  src/components/content/SocialLinks.astro
  src/components/layout/Footer.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/styles/fonts.css
Due: prettier --write

fix: restore underline on note listing links
  src/components/content/NotePreview.astro
  src/pages/index.astro
Due: none

fix: simplify copyright to current year only
  src/components/layout/Footer.astro
Due: none

fix: add external link icon to share button
  src/layouts/BlogLayout.astro
Due: none

fix: note listing links underline only on hover
  src/components/content/NotePreview.astro
  src/pages/index.astro
Due: none

fix: add share link back to article page
  src/layouts/BlogLayout.astro
Due: none

fix: remove arbitrary values, use standard tw classes, bump clock to h-4
  AGENTS.md
  src/components/ui/AnalogClock.astro
  src/components/ui/Link.astro
Due: prettier --write

fix: increase social icon gap
  src/components/content/SocialLinks.astro
Due: none

feat: two-row list layout with category chip, dimmer date
  src/components/content/NotePreview.astro
  src/pages/index.astro
Due: none

fix: bump prose heading sizes for clearer hierarchy
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: unify backlinks and related notes styling with tags component
  src/components/content/Backlinks.astro
  src/components/content/RelatedNotes.astro
Due: none

fix: newsletter borders span full width
  src/components/layout/Footer.astro
Due: none

Compact design — smaller fonts, tighter spacing, cleaner layout (#170)
  AGENTS.md
  src/components/content/Backlinks.astro
  src/components/content/Breadcrumbs.astro
  src/components/content/ExcalidrawSVG.astro
  src/components/content/LikeButton.astro
  src/components/content/NotePreview.astro
  src/components/content/RelatedNotes.astro
  src/components/content/Series.astro
  src/components/content/SocialLinks.astro
  src/components/content/TagList.astro
  src/components/content/WorkExperience.astro
  src/components/interactive/SearchInput.astro
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/components/ui/AnalogClock.astro
  src/components/ui/DecorativeHr.astro
  src/components/ui/Heading.astro
  src/components/ui/Link.astro
  src/components/ui/Section.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/lib/content.ts
  src/pages/categories/[category].astro
  src/pages/categories/index.astro
  src/pages/index.astro
  src/pages/notes/[slug].astro
  src/pages/notes/index.astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/pages/work.astro
  src/styles/fonts.css
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add post about arch linux installation
  src/content/notes/2026-06-24-arch-linux-setup/index.mdx
Due: prettier --write

fix: brighten post count and search border in dark mode
  src/components/content/NotePreview.astro
  src/components/interactive/SearchInput.astro
  src/pages/index.astro
Due: none

fix: center footer elements on mobile
  src/components/layout/Footer.astro
  src/pages/index.astro
Due: none

fix: global placeholder style, justify-between copyright row
  src/components/interactive/SearchInput.astro
  src/components/layout/Footer.astro
  src/styles/globals.css
Due: prettier --write

fix: add top margin to copyright row
  src/components/layout/Footer.astro
Due: none

fix: update email to hello@yashagarwal.in
  src/components/content/SocialLinks.astro
Due: none

fix: simplify Arch post intro section
  src/content/notes/2026-06-24-arch-linux-setup/index.mdx
Due: prettier --write

fix: add table header styles for dark mode visibility
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: remove busy device section, simplify partitioning
  src/content/notes/2026-06-24-arch-linux-setup/index.mdx
Due: prettier --write

fix: remove arch post, update OG image design, misc design fixes
  bun.lock
  package.json
  src/content/notes/2026-06-24-arch-linux-setup/index.mdx
  src/lib/og-image.ts
  src/pages/index.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: remove unused lifelog content collection
  src/content/config.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: switch OG image to light mode
  src/lib/og-image.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

fix: OG image light mode — white background
  src/lib/og-image.ts
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Design fixes: OG image, dark mode, footer, placeholder styles (#171)
  bun.lock
  package.json
  src/components/content/NotePreview.astro
  src/components/content/SocialLinks.astro
  src/components/interactive/SearchInput.astro
  src/components/layout/Footer.astro
  src/content/config.ts
  src/lib/og-image.ts
  src/pages/index.astro
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add about, now, uses, books, colophon, and newsletter pages
  scripts/import-goodreads.ts
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/content/books/data.json
  src/content/books/schema.ts
  src/pages/about.astro
  src/pages/books.astro
  src/pages/colophon.astro
  src/pages/index.astro
  src/pages/newsletter/index.astro
  src/pages/now.astro
  src/pages/uses.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: rewrite work page with detailed bullets, plain-writing pass on now page
  src/pages/books.astro
  src/pages/now.astro
  src/pages/work.astro
Due: none

chore: update now page
  src/pages/now.astro
Due: none

feat: rewrite about page in plain style, concise personal history
  src/pages/about.astro
Due: none

feat: rewrite uses page with actual hardware and software list
  src/pages/uses.astro
Due: none

feat: polish new pages, remove colophon, consistent typography
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/layouts/BaseLayout.astro
  src/pages/colophon.astro
  src/pages/newsletter/index.astro
  src/pages/now.astro
  src/pages/uses.astro
  src/pages/work.astro
  src/styles/globals.css
Due: prettier --write

feat: rewrite homepage intro in plain style, add /now and /about links
  src/pages/index.astro
Due: none

feat: break homepage intro into three paragraphs, add Staff title
  src/pages/index.astro
Due: none

feat: remove homepage work section, footer at base size, add Now to top nav
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/pages/index.astro
Due: none

fix: polish work page and footer newsletter copy
  src/components/layout/Footer.astro
  src/pages/work.astro
Due: none

feat: add about, now, uses, books, and newsletter pages (#172)
  scripts/import-goodreads.ts
  src/components/layout/Footer.astro
  src/components/layout/Navigation.astro
  src/content/books/data.json
  src/content/books/schema.ts
  src/layouts/BaseLayout.astro
  src/pages/about.astro
  src/pages/books.astro
  src/pages/index.astro
  src/pages/newsletter/index.astro
  src/pages/now.astro
  src/pages/uses.astro
  src/pages/work.astro
  src/styles/globals.css
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

feat: add scratch notes content type for quick AI-assisted notes
  scripts/create-scratch-note.ts
  src/components/layout/Footer.astro
  src/content/config.ts
  src/lib/scratch-content.ts
  src/pages/scratch/[slug].astro
  src/pages/scratch/index.astro
Due: eslint --fix, prettier --write, bash -c 'bun run typecheck'

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,json})) or (any of: **/*.css)
  bash -c 'bun run typecheck': any of: **/*.{ts,tsx,js,jsx}
