Repository yashhere/yashagarwal.in: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

chore: use mono font on note listing
  components/content/note-preview.tsx
Due: eslint --fix, prettier --write

feat: add speed insights
  app/layout.tsx
  bun.lock
  package.json
Due: eslint --fix, prettier --write

feat: write post on content-collection migration
  content/notes/add-reading-time-to-blog-articles.mdx
  content/notes/contentlayer-to-content-collections.mdx
  content/notes/how-i-built-a-blog-with-nextjs.mdx
  content/notes/image-component-in-nextjs.mdx
  content/notes/implementing-a-tag-cloud-in-nextjs-blog.mdx
  content/notes/integrating-contentlayer-with-nextjs-blog.mdx
  content/notes/rss-feeds-in-nextjs-blog.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

fix: change from NextJs to Next.js
  content/notes/add-reading-time-to-blog-articles.mdx
  content/notes/contentlayer-to-content-collections.mdx
  content/notes/how-i-built-a-blog-with-nextjs.mdx
  content/notes/image-component-in-nextjs.mdx
  content/notes/integrating-contentlayer-with-nextjs-blog.mdx
  content/notes/rss-feeds-in-nextjs-blog.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

fix: typos
  content/notes/contentlayer-to-content-collections.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

fix: fix headings
  content/notes/contentlayer-to-content-collections.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

feat: add animation on main content
  app/layout.tsx
  components/layout/animated-layout.tsx
  components/layout/navigation.tsx
  components/ui/animate-enter.tsx
Due: eslint --fix, prettier --write

feat: enhance loading and error handling components; update TypeScript and Prettier configurations
  .vscode/settings.json
  app/(feed)/utils.ts
  app/layout.tsx
  app/notes/[slug]/page.tsx
  bun.lock
  components/content/backlinks.tsx
  components/layout/footer.tsx
  components/ui/error-boundary.tsx
  components/ui/loading.tsx
  lib/content.ts
  next.config.js
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add SocialLinks component to display social media links
  app/page.tsx
  components/ui/social-links.tsx
Due: eslint --fix, prettier --write

fix: fix links
  components/ui/social-links.tsx
Due: eslint --fix, prettier --write

fix: format tsconfig
  tsconfig.json
Due: none

feat: add viewport settings and allowZoom option to metadata generation
  app/notes/[slug]/page.tsx
  lib/seo/default.ts
  lib/seo/metadata.ts
Due: eslint --fix, prettier --write

chore: fix viewport config
  app/layout.tsx
  app/notes/[slug]/page.tsx
  lib/seo/default.ts
  lib/seo/metadata.ts
Due: eslint --fix, prettier --write

chore: fix dark mode toggle tooltip strings
  components/interactive/mode-toggle.tsx
Due: eslint --fix, prettier --write

chore: post on Rishikesh Trip
  content/notes/rishikesh-mussoorie.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

feat: add post about fixing disqus's oklch incompatibility
  .vscode/settings.json
  components/interactive/comments.tsx
  content/notes/setting-up-disqus-in-nextjs-blog.mdx
  public/images/notes/setting-up-disqus-in-nextjs-blog/disqus-code-ref.jpg
  public/images/notes/setting-up-disqus-in-nextjs-blog/parseColor-error.jpg
  styles/globals.css
Due: eslint --fix, prettier --write, node ./scripts/update-frontmatter.ts

feat: implement note categorization script
  .lintstagedrc
  bun.lock
  package.json
  scripts/README.md
  scripts/categorize-notes.ts
  scripts/categorize.sh
  scripts/update-frontmatter.ts
Due: prettier --write, node ./scripts/update-frontmatter.ts

feat: convert createdOn date from UTC to IST in note categorization
  scripts/categorize-notes.ts
Due: none

feat: add single batch and single file options for note categorization
  scripts/categorize-notes.ts
  scripts/categorize.sh
Due: none

feat: add description field to note categorization and processing
  scripts/categorize-notes.ts
Due: none

feat: refine description handling in note categorization and update configuration limits
  scripts/categorize-notes.ts
Due: none

feat: update category assignment logic in notes collection
  content-collections.ts
Due: none

chore: update category from 'Web Development' to 'Development' across multiple notes
  content/notes/add-reading-time-to-blog-articles.mdx
  content/notes/automatic-https-certs-using-godaddy-and-gitlab-apis.mdx
  content/notes/contentlayer-to-content-collections.mdx
  content/notes/develop-a-theme-for-hugo.mdx
  content/notes/go-grpc-opa-a-perfect-union-part-1.mdx
  content/notes/go-grpc-opa-a-perfect-union-part-2.mdx
  content/notes/go-grpc-opa-a-perfect-union-part-3.mdx
  content/notes/how-i-built-a-blog-with-nextjs.mdx
  content/notes/image-component-in-nextjs.mdx
  content/notes/integrating-contentlayer-with-nextjs-blog.mdx
  content/notes/my-new-domain.mdx
  content/notes/proxy-your-requests-to-the-backend-server-with-grunt.mdx
  content/notes/rss-feeds-in-nextjs-blog.mdx
  content/notes/setting-up-disqus-in-nextjs-blog.mdx
  content/notes/setting-up-hugo-automatic-deployment-to-github-with-wercker.mdx
  content/notes/setting-up-modsecurity-on-ubuntu.mdx
  content/notes/setting-up-python-development-environments.mdx
  content/notes/the-good-and-bad-about-csed-of-nit-c.mdx
Due: prettier --write, node ./scripts/update-frontmatter.ts

Path conditions:
  eslint --fix: any of: **/*.{tsx, ts, js, jsx}
  prettier --write: (any of: **/*.{tsx, ts, js, jsx}) or (any of: **/*.{md,mdx})
  node ./scripts/update-frontmatter.ts: any of: **/*.{md,mdx}
